<?php $this->headTitle('Home'); ?>

<link rel="stylesheet" href="/css/libs/fullcalendar.css" type="text/css" />
<link rel="stylesheet" href="/css/libs/fullcalendar.print.css" type="text/css" media="print" />
<link rel="stylesheet" href="/css/compiled/calendar.css" type="text/css" media="screen" />

<style>
    .typeahead,
    .tt-query,
    .tt-hint {
       width: 100%;
        height: 30px;
        padding: 8px 12px;
        line-height: 30px;
        border: 2px solid #e7ebee;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        outline: none;
    }

    .typeahead {
        background-color: #fff;
    }

    .typeahead:focus {
        border: 2px solid #0097cf;
    }

    .tt-query {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
        color: #999
    }

    .tt-menu {
        width: 100%;
        margin: 5px 0;
        padding: 8px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .tt-suggestion {
        padding: 3px 20px;
        font-size: 18px;
        line-height: 24px;
    }

    .tt-suggestion:hover {
        cursor: pointer;
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #0097cf;

    }

    .tt-suggestion p {
        margin: 0;
    }

    .gist {
        font-size: 14px;
    }

    /* example specific styles */
    /* ----------------------- */

    #custom-templates .empty-message {
        padding: 5px 10px;
        text-align: center;
    }

    #multiple-datasets .league-name {
        margin: 0 20px 5px 20px;
        padding: 3px 0;
        border-bottom: 1px solid #ccc;
    }

    #scrollable-dropdown-menu .tt-menu {
        max-height: 150px;
        overflow-y: auto;
    }

    #rtl-support .tt-menu {
        text-align: right;
    }
</style>
<div class="row">
<div class="col-lg-12">
<div class="row">
    <div class="col-lg-12">

        <!--<div id="the-basics">
            <input class="typeahead" type="text" placeholder="States of USA">
        </div>-->

        <div id="content-header" class="clearfix" style="display: none;">
            <div class="pull-left">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active"><span>Dashboard</span></li>
                </ol>

                <h1>Dashboard</h1>
            </div>

            <div class="pull-right hidden-xs">
                <div class="xs-graph pull-left">
                    <div class="graph-label">
                        <b><i class="fa fa-shopping-cart"></i> 838</b> Orders
                    </div>
                    <div class="graph-content spark-orders"></div>
                </div>

                <div class="xs-graph pull-left mrg-l-lg mrg-r-sm">
                    <div class="graph-label">
                        <b>&dollar;12.338</b> Revenues
                    </div>
                    <div class="graph-content spark-revenues"></div>
                </div>
            </div>
        </div>

        <style>
            .box-widget a {
                color: #212121;
                text-decoration: none;
                cursor: pointer;
            }
        </style>

        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12 box-widget">
                <a href="<?php echo $this->url('pagamentos.list', ['tipo' => 'pagar']); ?>">
                    <div class="main-box infographic-box">
                        <i class="fa fa-file-text-o red-bg"></i>
                        <span class="headline">Pagamentos</span>
                        <span class="value">
                            <span class="timer" data-from="120" data-to="2562" data-speed="1000" data-refresh-interval="50">
                                <?php echo $this->infoTotaisContas['TotalPagar']; ?>
                            </span>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 box-widget">
                <a href="<?php echo $this->url('pedido.deliver'); ?>">
                    <div class="main-box infographic-box">
                        <i class="fa fa-shopping-cart emerald-bg"></i>
                        <span class="headline">Pedidos</span>
                        <span class="value">
                            <span class="timer" data-from="30" data-to="658" data-speed="800" data-refresh-interval="30">
                                <?php echo $this->totalPedidosEntregar; ?>
                            </span>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 box-widget">
                <a href="<?php echo $this->url('pagamentos.list', ['tipo' => 'receber']); ?>">
                    <div class="main-box infographic-box">
                        <i class="fa fa-money green-bg"></i>
                        <span class="headline">Recebimentos</span>
                        <span class="value">
                            <span class="timer" data-from="83" data-to="8400" data-speed="900" data-refresh-interval="60">
                                <?php echo $this->infoTotaisContas['TotalReceber']; ?>
                            </span>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 box-widget">
                <a href="<?php echo $this->url('agenda.list');?>">
                    <div class="main-box infographic-box">
                        <i class="fa fa-eye purple-bg"></i>
                        <span class="headline">Visitas Realizar</span>
                        <span class="value">
                            <span class="timer" data-from="539" data-to="12526" data-speed="1100">
                                <?php echo $this->totalVisitasRealizar; ?>
                            </span>
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="main-box">
            <div class="main-box-body clearfix">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Agendamento de Visita</h4>
                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="form-group">
                                <label for="cliente" class="control-label">Cliente:</label>
                                <input class="typeahead validar" type="text" id="cliente" placeholder="Nome do cliente">
                                <input type="hidden" id="infoCliente" />
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="dataInicio" class="control-label">Data:</label>
                                        <input type="text" class="form-control" id="dataInicio">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="horaInicio" class="control-label">Situação:</label>
                                        <select id="status" class="form-control validar">
                                            <option value="M">Agendada</option>
                                            <option value="R">Realizada</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="horaInicio" class="control-label">Hora:</label>
                                        <input type="text" class="form-control validar" id="horaInicio">
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">

                        <div class="row">
                            <div class="col-md-6" >

                                <div id="load"  style="text-align: left;display: none;">
                                    <img src="/img/loading.gif" />
                                    Processando requisição
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Fechar</button>
                                <button type="button" class="btn btn-primary close-modal" id="salvarCompromisso">Salvar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- this page specific inline scripts -->
<script src="/js/handlebars.js"></script>
<script src="/js/typeahead.bundle.js"></script>
<script>



$(document).ready(function() {

    var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
            var matches, substringRegex;

            // an array that will be populated with substring matches
            matches = [];

            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function(i, str) {
                //console.log(str);
                if (substrRegex.test(str.value)) {
                    matches.push(str.value);
                }
            });

            cb(matches);
        };
    };

    var clientes = <?php echo $this->infoSuggestionCliente; ?>;

    $('.typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        },
        {
            name: 'clientes',
            source: substringMatcher(clientes)
    });

    $('.typeahead').bind('typeahead:select', function(ev, suggestion) {
        //console.log('Selection: ' + suggestion);
    });

    $('.typeahead').bind('typeahead:change', function(ev, suggestion) {
        //console.log('Change: ' + suggestion);
    });

    $("#cliente").blur(function(){
       if($(this).val() == "" && $("#infoCliente").val() != ""){
           $("#cliente").val($("#infoCliente").val())
       }
    });


    var infoAgendaJSON = <?php echo $this->infoAgendaJSON; ?>;
    for(var i = 0; i < infoAgendaJSON.length; i++){
        var data = new Date(infoAgendaJSON[i].start);
        infoAgendaJSON[i].start = data;
        infoAgendaJSON[i].end = data;
    }

    /* initialize the external events
     -----------------------------------------------------------------*/

    $('#external-events div.external-event').each(function() {

        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
        // it doesn't need to have a start or end
        var eventObject = {
            title: $.trim($(this).text()) // use the element's text as the event title
        };

        // store the Event Object in the DOM element so we can get to it later
        $(this).data('eventObject', eventObject);

        // make the event draggable using jQuery UI
        $(this).draggable({
            zIndex: 999,
            revert: true,      // will cause the event to go back to its
            revertDuration: 0  //  original position after the drag
        });

    });


    /* initialize the calendar
     -----------------------------------------------------------------*/

    var date = new Date();

    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    var dataSelecionada;
    var objetoSelecionado;

    var calendar = $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        lang: 'pt-br',
        isRTL: $('body').hasClass('rtl'), //rtl support for calendar
        selectable: true,
        ignoreTimezone: true,
        selectHelper: true,
        select: function(start, end, allDay) {
            objetoSelecionado = null;
            $("#infoCliente").val("");
            var data = new Date(start._d);
            //console.log(start._d);
            data.setDate(data.getDate() + 1);
            dataSelecionada = data;
            data = data.getDate()  + "/" +  formatNumber( data.getMonth() + 1)  +'/'+data.getFullYear();
            $('#exampleModal').modal('show');
            //$("#load").css('display', 'none');
            $("#dataInicio").val(data);
            var title = 'Apresentação - '+ $('#cliente').val();
            $("#cliente").val("");
            $("#status").val("M");
            $("#horaInicio").val("");
        },
        dayClick: function(date){
            //console.log('dayClick'+date.format())
        },

        editable: true,
        eventClick: function(calEvent, jsEvent, view){
            objetoSelecionado = calEvent;
            $("#infoCliente").val("");
            var fragment = calEvent.title.split(" - ");
            if(!fragment.lenght ){
                $("#cliente").val(calEvent.title);
                $("#cliente").val(calEvent.title);
                $("#status").val(calEvent.className == "label-info" ? "M" : "R");
            }else{
                $("#cliente").val(fragment[1]);
            }
            //console.log(calEvent.start._d)

            var data = new Date(calEvent.start);
            //data = new Date(data.toUTCString() );
           // console.log(data);
            dataSelecionada = data;

            if(calEvent.start.hasZone() == true){
                $("#horaInicio").val(formatNumber(data.getHours()) + ":" + formatNumber(data.getMinutes()));
            }else{
                $("#horaInicio").val(formatNumber(data.getUTCHours()) + ":" + formatNumber(data.getUTCMinutes()));
            }


            $('#exampleModal').modal('show');
            //$("#load").css('display', 'none');

            //$('#calendar').fullCalendar('updateEvent', calEvent);
            //console.log(calEvent.start.hasZone())

        },

        dragRevertDuration : 0,
        droppable: true, // this allows things to be dropped onto the calendar !!!
        eventDrop : function( event, delta, revertFunc, jsEvent, ui, view ) {
             revertFunc()
        },
        events: infoAgendaJSON,
        timeZone: 'America/Sao_Paulo',
        timeFormat: 'H(:mm)'
    });

    $('#exampleModal').modal({
        keyboard: false,
        backdrop: 'static',
        show: false
    });

    $("#salvarCompromisso").click(function(){

        var horaInicio = $('#horaInicio').val();
        var hora = parseInt( horaInicio.substr(0, 2));
        var minutos = parseInt(horaInicio.substr(3,2));
        $(".close-modal").prop('disabled', true);
        $("#load").css('display', 'block');
        if(objetoSelecionado == null){
            var title = $('#cliente').val();
            dataSelecionada.setHours(hora);
            dataSelecionada.setMinutes(minutos);

            if($('#cliente').val() != ""){

                $.ajax({
                    method : "POST",
                    url    : "/evento/agenda-visita/cadastrar",
                    data   :{ id: '',
                        evento : title,
                        data: dataSelecionada,
                        status: $("#status").val()
                    },
                    success: function(data){

                        if(data.id){
                            calendar.fullCalendar('renderEvent',
                                {
                                    id : data.id,
                                    title: title,
                                    start: dataSelecionada,
                                    end: dataSelecionada,
                                    allDay: false,
                                    className : ($("#status").val() == "M"? "label-info" : "label-success")
                                },
                                true // make the event "stick"
                            );
                        }
                        $('#exampleModal').modal('hide');
                        $(".close-modal").prop('disabled', false);
                        $("#load").css('display', 'none');
                    },
                    error: function(data){
                        $('#exampleModal').modal('hide');
                        $(".close-modal").prop('disabled', false);
                        $("#load").css('display', 'none');
                    }
                });
            }

        }else{
            var horaInicio = $('#horaInicio').val();
            var hora = parseInt( horaInicio.substr(0, 2));
            var minutos = parseInt(horaInicio.substr(3,2));
            dataSelecionada.setHours(hora);
            dataSelecionada.setMinutes(minutos);

            if($('#cliente').val() != ""){
                objetoSelecionado.title =  $('#cliente').val();
                //objetoSelecionado.start = new Date(objetoSelecionado.start);
                objetoSelecionado.start = dataSelecionada;
                objetoSelecionado.end = dataSelecionada;
                objetoSelecionado.className = ($("#status").val() == "M"? "label-info" : "label-success")
                $.ajax({
                    method : "POST",
                    url    : "/evento/agenda-visita/cadastrar",
                    data   :{
                        id: objetoSelecionado.id,
                        evento : objetoSelecionado.title,
                        data: new Date(objetoSelecionado.start),
                        status: $("#status").val()
                    },
                    success: function(data){
                        if(data.id){
                            objetoSelecionado.id = data.id;
                            //objetoSelecionado.start = new Date(objetoSelecionado.start);
                            console.log(objetoSelecionado.start);
                            $('#calendar').fullCalendar('updateEvent', objetoSelecionado);
                        }
                        $('#exampleModal').modal('hide');
                        $(".close-modal").prop('disabled', false);
                        $("#load").css('display', 'none');
                    },
                    error: function(data){
                        $('#exampleModal').modal('hide');
                        $(".close-modal").prop('disabled', false);
                        $("#load").css('display', 'none');
                    }
                });
            }

            //$('#calendar').fullCalendar('updateEvent', objetoSelecionado);
        }


        $('#descricao').val("");
        $('#cliente').val("");
        $('#horaInicio').val("");
        //calendar.fullCalendar('unselect');

    });

    $('#dataInicio').attr('readonly','readonly');
    $('#horaInicio').timeEntry({show24Hours: true, showSeconds: false});

    function formatNumber(numero){
        numero = parseInt(numero);
        if(numero < 10){
            return '0'+numero;
        }else{
            return numero;
        }
    }

});
</script>
</div>
</div>