
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }

    .itensPedidos{
        text-transform: uppercase;
        font-size: 0.875em;
    }
    .itensPedidos td {
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Cadastro de devolução - Definir Items
            </div>
            <form method="POST" action="<?php echo $this->url('devolucao.definir_itens', ['pedido' => $this->infoPedido->getId() ]);?>">
                <div class="panel-body">

                    <div class="row">
                        <?php foreach($this->flashMessages as $namespace => $messages): ?>
                            <div class=" col-xs-12 alert alert-<?php echo $namespace;?>">
                                <ul>
                                    <?php foreach ($messages as $msg): ?>
                                        <?php echo $msg; ?>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        <?php endforeach; ?>
                    </div>
                    <div class="row">
                        <p class="label-cliente-fornecedor" >Cliente: <span style="font-weight: bold"><?php echo $this->infoCliente->getNome(); ?></span></p>
                    </div>

                    <div class="row">
                        <div id="msg-validate" class=""></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome do Produto</th>
                                        <th>Valor Unit.</th>
                                        <th style="width: 10%;">Quant. Total</th>
                                        <th>Valor Total</th>
                                        <th style="width: 10%;">Quant. Dev.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <?php $valorTotal = 0;
                                foreach($this->itensPedido as $itemPedido):
                                    $indice++;
                                    $valorTotal += $itemPedido->getValor();
                                    ?>
                                    <tr class="itensPedidos" >
                                        <td class="identificador-produto" style="width: 5%;">
                                            <span><?php echo $itemPedido->getProduto()->getId(); ?></span>
                                            <input type="hidden" name="idItensPedido[]"
                                                   value="<?php echo $itemPedido->getId(); ?>"/>
                                        </td>
                                        <td class="item-nome" style="width: 45%;" >
                                            <span><?php echo $itemPedido->getProduto()->getNome(); ?></span>
                                            <input type="hidden" class="id-produto" name="produto[]"
                                                   value="<?php echo $itemPedido->getProduto()->getId(); ?>"/>
                                        </td>
                                        <td class="item-preco-unit" style="width: 10%;">
                                            <span><?php echo number_format(($itemPedido->getValor() / $itemPedido->getQuantidade()), 2, ',', '.') ; ?></span>
                                        </td>

                                        <td class="item-quantidade" style="width: 1%;">
                                            <span><?php echo $itemPedido->getQuantidade(); ?></span>
                                        </td>
                                        <td class="item-preco-total" style="width: 12%;">
                                            <span>R$ <?php echo number_format($itemPedido->getValor(), 2, ',', '.') ; ?></span>
                                        </td>
                                        <td >
                                            <input type="number" min="0" max="<?php echo $itemPedido->getQuantidade(); ?>" class="form-control valor quantidade" name="quantDevolver[]" />
                                        </td>

                                    </tr>

                                <?php endforeach; ?>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="4" style="font-weight: bold;" >
                                        <div class="col-xs-4">
                                            Preço Parcial :
                                            <input id="preco-parcial-pedido" type="text" disabled="disabled"
                                                   class="form-control" value="R$ <?php echo number_format($this->infoPedido->getValorTotal() + $this->infoPedido->getDesconto(), 2, ',', '.') ; ?>" />
                                        </div>
                                        <div class="col-xs-4">
                                            Desconto:
                                            <input id="desconto" name="desconto" type="text" class="form-control"
                                                   value="<?php echo number_format($this->infoPedido->getDesconto(), 2, ',', '.') ; ?>"
                                                   disabled="disabled"/>
                                        </div>
                                        <div class="col-xs-4">
                                            Preço Final :
                                            <input id="preco-total-pedido" type="text" disabled="disabled"
                                                   class="form-control" value="R$ <?php echo number_format($this->infoPedido->getValorTotal() , 2, ',', '.') ; ?>" />
                                        </div>
                                    </td>
                                    <td colspan="4" style="font-weight: bold;" >
                                        <div class="col-xs-12">
                                            Data da Entrega :
                                            <input id="dataEntrega" name="dataEntrega" type="text" disabled="disabled"
                                                   class="form-control"  value="<?php echo !is_null($this->infoPedido
                                                ->getDataEntrega())?$this->infoPedido->getDataEntrega()->format("d/m/Y"):""; ?>"/>
                                        </div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <button type="submit" id="gravarRemessa"  class="btn btn-primary">Salvar</button>
                        <a href="#" id="voltar" class="btn btn-default">Voltar</a>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
       $('.quantidade').blur(function(){
          var valorMaximo = parseInt( $(this).attr('max') );
          if( parseInt( $(this).val()) > valorMaximo){
              $(this).val("");
          }
       });
    });
</script>