<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
/*
$name = $form->get('name');
$name->setAttribute('class', 'form-control')
    ->setLabelAttributes(['class' => 'control-label']);
$valueSale = $form->get('value_sale');
$valueSale->setAttribute('class', 'form-control')
    ->setLabelAttributes(['class' => 'control-label']);
$valueCost = $form->get('value_cost');
$valueCost->setAttribute('class', 'form-control');
$quantity = $form->get('quantity');
$quantity->setAttribute('class', 'form-control');
*/
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary')->setLabel('Incluir');

?>

<?php $form->setAttribute('action', $this->url('cliente.create')); ?>
<?php $form->prepare(); ?>
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .label-radio{
        font-weight: 400;
        font-size: 0.875em;
        max-width: 100%;
        line-height: 20px;
    }


    <?php if(empty($this->dadosFormulario['tipo'])): ?>
        .pessoa-juridica{
            display: none;
        }
    <?php endif; ?>
    <?php if(!empty($this->dadosFormulario['tipo']) && $this->dadosFormulario['tipo'] =="PF"): ?>
        .pessoa-juridica{
            display: none;
        }
    <?php endif; ?>
    <?php if(!empty($this->dadosFormulario['tipo']) && $this->dadosFormulario['tipo'] =="PJ"): ?>
        .pessoa-fisica{
            display: none;
        }
    <?php endif; ?>
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Cadastro de cliente
            </div>
            <?php echo $this->form()->openTag($this->form); ?>
            <div class="panel-body">
                <div class="row">
                    <h4>Dados Pessoais</h4>
                    <div class="col-xs-4 radioOptions">
                        <?php $message = $this->formElementErrors($form->get('tipo'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <p class="label-radio">Tipo de Cliente</p>
                            <?php echo $this->formElement($form->get('tipo')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-8 pessoa-fisica">
                        <?php $message = $this->formElementErrors($form->get('nome'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('nome')); ?>
                            <?php echo $this->formElement($form->get('nome')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-8 pessoa-juridica">
                        <?php $message = $this->formElementErrors($form->get('razaoSocial'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('razaoSocial')); ?>
                            <?php echo $this->formElement($form->get('razaoSocial')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-xs-2 pessoa-fisica">
                        <?php $message = $this->formElementErrors($form->get('CPF'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('CPF')); ?>
                            <?php echo $this->formElement($form->get('CPF')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-2 pessoa-juridica">
                        <?php $message = $this->formElementErrors($form->get('CNPJ'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('CNPJ')); ?>
                            <?php echo $this->formElement($form->get('CNPJ')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                    <div class="col-xs-6 pessoa-juridica">
                        <?php $message = $this->formElementErrors($form->get('nomeFantasia'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('nomeFantasia')); ?>
                            <?php echo $this->formElement($form->get('nomeFantasia')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-2">
                        <?php $message = $this->formElementErrors($form->get('telefoneCelular'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('telefoneCelular')); ?>
                            <?php echo $this->formElement($form->get('telefoneCelular')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-2">
                        <?php $message = $this->formElementErrors($form->get('telefoneFixo'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('telefoneFixo')); ?>
                            <?php echo $this->formElement($form->get('telefoneFixo')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-2 pessoa-fisica">
                        <?php $message = $this->formElementErrors($form->get('dataNascimento'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('dataNascimento')); ?>
                            <?php echo $this->formElement($form->get('dataNascimento')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-4 radioOptions pessoa-fisica">
                        <?php $message = $this->formElementErrors($form->get('sexo'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <p class="label-radio">Sexo</p>
                            <?php echo $this->formElement($form->get('sexo')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('email'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('email')); ?>
                            <?php echo $this->formElement($form->get('email')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-6 pessoa-fisica">
                        <?php $message = $this->formElementErrors($form->get('nomeConjuge'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('nomeConjuge')); ?>
                            <?php echo $this->formElement($form->get('nomeConjuge')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-2 pessoa-fisica">
                        <?php $message = $this->formElementErrors($form->get('dataCasamento'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('dataCasamento')); ?>
                            <?php echo $this->formElement($form->get('dataCasamento')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('ativo'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?> radioOptions">
                            <p class="label-radio">Ativo?</p>
                            <?php echo $this->formElement($form->get('ativo')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>



                </div>

                <div class="row">
                    <h4>Dados de Endereço</h4>


                    <div class="col-xs-8">
                        <?php $message = $this->formElementErrors($form->get('logradouro'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('logradouro')); ?>
                            <?php echo $this->formElement($form->get('logradouro')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-2">
                        <?php $message = $this->formElementErrors($form->get('CEP'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('CEP')); ?>
                            <?php echo $this->formElement($form->get('CEP')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-2">
                        <?php $message = $this->formElementErrors($form->get('numero'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('numero')); ?>
                            <?php echo $this->formElement($form->get('numero')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('bairro'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('bairro')); ?>
                            <?php echo $this->formElement($form->get('bairro')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('cidade'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('cidade')); ?>
                            <?php echo $this->formElement($form->get('cidade')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('UF'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('UF')); ?>
                            <?php echo $this->formElement($form->get('UF')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <?php $message = $this->formElementErrors($form->get('referencia'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('referencia')); ?>
                            <?php echo $this->formElement($form->get('referencia')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <?php echo $this->formButton($submit); ?>
                <a href="#" id="voltar" class="btn btn-default">Voltar</a>
            </div>
            <?php $this->form()->closeTag(); ?>


        </div>
    </div>
</div>
<script type="text/javascript" src="/js/busca-endereco-cep.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        $('#CEP').mask("99999 - 999");
        $('#dataCasamento,#dataNascimento').mask("99/99/9999");
        $('#CPF').mask("999.999.999-99");
        $('#CNPJ').mask("99.999.999/9999-99");
        $('#telefoneFixo,#telefoneCelular,#telefone').mask("(99) 99999 - 9999");
        $("#dataNascimento").blur(function(){
            var infoData = $(this).val().split('/');
            if(infoData.length < 2){
                $(this).val("");
            }else{
                infoData[0] = parseInt(infoData[0])
                infoData[1] = parseInt(infoData[1])
                var data = new Date();
                var maxDias = [31,29,31,30,31,30,31,31,30,31,30,31];
                var maxDiasMes = [];
                maxDias.forEach(function(currentValue, index){
                    maxDiasMes[index] = currentValue;
                });

                if(infoData.length == 3 ){
                    infoData[2] = parseInt(infoData[2])
                    if(isNaN(infoData[2])){
                        $(this).val("");
                    }
                    if(infoData[2] % 4 == 0)
                        maxDiasMes[1] = 29;
                }
                if(isNaN(infoData[0]) || isNaN(infoData[1])){
                    $(this).val("");
                    return;
                }
                if(infoData[1] >  12 ){
                    $(this).val("");
                    return;
                }

                if(infoData[0] < 0 || infoData[0] > maxDiasMes[ infoData[1] - 1 ]   ){
                    $(this).val("");
                    return;
                }

                if(infoData.length == 3 && infoData[2] > data.getFullYear()){
                    $(this).val("");
                    return;
                }
            }

        });
        $('#telefoneFixo').focusout(function(){

            var phone, element;
            element = $(this);
            element.unmask();
            phone = element.val().replace(/\D/g, '');

            if(phone.length > 10){
                element.mask("(99) 99999 - 9999");
            }else{
                element.mask("(99) 9999 - 9999");
            }
        }).trigger('focusout');

        $('#CEP').blur(function(){
            var resultBusca = getEndereco('CEP', "");
            if(resultBusca != null){
                $("#numero").focus();
            }
        });

        $(".tipocliente").click(function(){
            $(".tipocliente").each(function(){
                if( $(this).is(':checked') ){
                    var tipoCampoAtivar =  ( $(this).val() == "PF") ?  ".pessoa-fisica" : ".pessoa-juridica" ;
                    var tipoCampoDesativa =  ( $(this).val() != "PF") ? ".pessoa-fisica" : ".pessoa-juridica" ;
                    $(tipoCampoAtivar).css('display', 'block');
                    $(tipoCampoDesativa).css('display', 'none');
                    //$(tipoCampoDesativa + " input")prop('disabled', true)
                    //$(tipoCampoAtivar + " input")prop('disabled', false)
                    $(tipoCampoDesativa + " input").val("");
                }
            });

        });

        /*$('#CNPJ').focusout(function(){

         var valueunMask, element;
         element = $(this);
         element.unmask();
         valueunMask = element.val().replace(/\D/g, '');

         if(valueunMask.length < 11){
         element.mask("999.999.999-99");
         }else{
         element.mask("99.999.999/9999-99");
         }
         }).trigger('focusout');
         */

    });

</script>