<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
$submit = $form->get('submit');
$submit->setLabel('Pesquisar');

?>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Clientes

        </div>
        <div class="panel-body">

            <?php if($this->flashMessages): ?>

                <div class="row">
                    <?php foreach($this->flashMessages as $namespace => $messages): ?>
                        <div class=" col-xs-12 alert alert-<?php echo $namespace;?>">
                            <ul>
                                <?php foreach ($messages as $msg): ?>
                                    <?php echo $msg; ?>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>

            <div class="row col-xs-12" style="margin-bottom: 10px;">
                <a href="<?php echo $this->url('cliente.create'); ?>" class="btn btn-primary">
                    <i class="fa fa-plus-circle"></i> Novo
                </a>
            </div>

            <?php echo $this->form()->openTag($this->form); ?>
            <div class="row ">
                <div class="col-md-12">
                    <?php echo $this->formLabel($form->get('nome')); ?>
                    <?php echo $this->formElement($form->get('nome')); ?>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('tipo')); ?>
                    <?php echo $this->formElement($form->get('tipo')); ?>
                </div>
                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('ativo')); ?>
                    <?php echo $this->formElement($form->get('ativo')); ?>
                </div>
                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('CPF')); ?>
                    <?php echo $this->formElement($form->get('CPF')); ?>
                </div>
                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('CNPJ')); ?>
                    <?php echo $this->formElement($form->get('CNPJ')); ?>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('email')); ?>
                    <?php echo $this->formElement($form->get('email')); ?>
                </div>
                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('telefoneFixo')); ?>
                    <?php echo $this->formElement($form->get('telefoneFixo')); ?>
                </div>
                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('telefoneCelular')); ?>
                    <?php echo $this->formElement($form->get('telefoneCelular')); ?>
                </div>
                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('dataCadastroDe')); ?>
                    <?php echo $this->formElement($form->get('dataCadastroDe')); ?>
                </div>
            </div>

            <div class="row">

                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('dataCadastroAte')); ?>
                    <?php echo $this->formElement($form->get('dataCadastroAte')); ?>
                </div>
                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('codigo')); ?>
                    <?php echo $this->formElement($form->get('codigo')); ?>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="formgroup" style="margin-bottom: 20px;margin-top: 20px;">
                        <?php echo $this->formElement($form->get('submit')); ?>
                    </div>
                </div>
            </div>
            <?php $this->form()->closeTag(); ?>

            <div class="row col-xs-12">
                <table class="table table-bordered" id="listDataTable">
                    <thead>
                    <tr>
                        <th >ID</th>
                        <th style="width: 30%;">Nome / Razão Social </th>
                        <th >Email</th>
                        <th >Telefone</th>
                        <th >Celular</th>
                        <th >Tipo</th>
                        <th >D. Cad.</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>


                    <?php foreach($this->clientes as $cliente) : ?>
                        <tr>
                            <td><?php echo $cliente->getId();?></td>
                            <td><?php echo (!empty($cliente->getNome()) ) ? $cliente->getNome() : $cliente->getRazaoSocial();?></td>
                            <td><?php echo $cliente->getEmail();?></td>
                            <td><?php echo $cliente->getTelefoneCelular();?></td>
                            <td><?php echo $cliente->getTelefoneFixo();?></td>
                            <td><?php echo $cliente->getTipo();?></td>
                            <td><?php echo ($cliente->getDataCadastro() instanceof  \DateTime)?
                                $cliente->getDataCadastro()->format('d/m/Y') : '';?></td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Ações <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="<?php echo $this->url('cliente.update', ['id' => $cliente->getId()]); ?>">Editar</a></li>
                                        <li><a href="<?php echo $this->url('cliente.delete', ['id' => $cliente->getId()]); ?>">Excluir</a></li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>


        </div>
        <div class="panel-footer">
            <a href="#" id="voltar" class="btn btn-default">Voltar</a>
        </div>
    </div>
</div>

<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.fixedHeader.js"></script>
<script src="/js/dataTables.tableTools.js"></script>
<script src="/js/jquery.dataTables.bootstrap.js"></script>

<!-- this page specific inline scripts -->
<script>
    $(document).ready(function() {

        var tableFixed = $('#listDataTable').dataTable({
            'info': false,
            'pageLength': 10,
            "aLengthMenu": [[5, 10, 25, 50, 100, 250, 500, -1], [5, 10, 25, 50, 100, 250, 500, "Todos"]],
            "oLanguage": {
                "sSearch": "Filtro: ",
                "sLengthMenu": "Total de registros por pagina: _MENU_ "
            }
        });

        $('#CPF').mask("999.999.999-99");
        $('#CNPJ').mask("99.999.999/9999-99");
        $('.data').mask("99/99/9999");
        $('.data').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            orientation: "top right"

        //new $.fn.dataTable.FixedHeader( tableFixed );
    });
</script>