.label-cliente-fornecedor{
    padding-left: 15px;
    font-size: 17px;
}
.nome-cliente-fornecedor{
    padding-left: 15px;
    font-weight: bold;
}
@media print{
    .btn, .form-line{
        display: none;
    }
    #listDataTable_wrapper .row:first{
        display:none;
    }
    #listDataTable_wrapper .row:last{
        display:none;
    }
    .linha-form{
        display:none;
    }
    .panel-heading{
        font-size: 20px;
    }
    .panel-footer, #footer-bar,.dataTables_paginate .paging_simple_numbers, .pagination{
        display: none;
    }
    #content-wrapper{
        min-height: 2cm;
    }
}
#voltar{
   float: right;
}
.panel-footer{
    height: 60px;
}

@media screen and (max-width: 537px) {
    .dimensionar-radio{
        height: 15px !important;
        width: 22px;
        display: inline;
    }
    .radioOptions label{
        margin-right: auto;
        min-width: 12%;

        max-width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .dimensionar-radio{
        height: 15px !important;
        width: 22px;
        display: inline;
    }
    .radioOptions label{
        margin-right: auto;
        min-width: 15%;

        max-width: 100%;
    }
}

@media screen and (max-width: 2000px) {
    .dimensionar-radio{
        height: 15px !important;
        width: 22px;
        display: inline;
    }
    .radioOptions label{
        margin-right: auto;
        min-width: 50%;
        max-width: 100%;
    }
}

@media screen and (max-width: 3000px) {
    .dimensionar-radio{
        height: 15px !important;
        width: 22px;
        display: inline;
    }
    .radioOptions label{
        margin-right: auto;
        min-width: 50%;
        max-width: 100%;
    }
}