
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }

    .itensPedidos{
        text-transform: uppercase;
        font-size: 0.875em;
    }
    .itensPedidos td {
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Gerenciamento de Parcelas de pedido - Quitar parcelas
            </div>

            <form method="POST" action="<?php echo $this->url('parcela.pay_order_plots', ['pedido' => $this->infoPedido->getId() ]);?>">
                <div class="panel-body">
                    <?php if($this->flashMessages): ?>
                        <div class="row">
                            <?php foreach($this->flashMessages as $namespace => $messages): ?>
                                <div class=" col-xs-12 alert alert-<?php echo $namespace;?>">
                                    <ul>
                                        <?php foreach ($messages as $msg): ?>
                                            <?php echo $msg; ?>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            <?php endforeach; ?>
                        </div>
                    <?php endif; ?>

                    <div class="row">
                        <p class="label-cliente-fornecedor" >Cliente: <span style="font-weight: bold"><?php echo $this->infoCliente->getNome(); ?></span></p>
                    </div>


                    <div class="row">
                        <div id="msg-validate" class=""></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th >ID</th>
                                        <th >Descrição</th>
                                        <th style="width: 9%;">Data Venc.</th>
                                        <th style="width: 10%;">Valor</th>
                                        <th style="width: 11%;">Data Quit.</th>
                                        <th>
                                            <input type="checkbox" id="marcar-todos" />
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                <?php
                                    foreach($this->parcelasPedido as $movFinPedido):
                                ?>
                                    <tr class="itensPedidos" >
                                        <td><?php echo $movFinPedido->getMovFinanceiro()->getId();?>
                                            <input type="hidden" name="idMovFinanceiro[]" value="<?php echo $movFinPedido->getMovFinanceiro()->getId();?>" />
                                        </td>
                                        <td><?php echo $movFinPedido->getMovFinanceiro()->getDescricao();?></td>
                                        <td><?php echo $movFinPedido->getMovFinanceiro()->getDataVencimento()->format('d/m/Y');?></td>
                                        <td><?php echo number_format($movFinPedido->getMovFinanceiro()->getValor(), 2, ',', '.');?></td>

                                        <td>

                                            <?php if($movFinPedido->getMovFinanceiro()->getStatus() == "A"): ?>
                                                <input type="text" name="dataQuitacao[]" class="form-control dataQuitacao" value="<?php echo (!is_null($movFinPedido->getMovFinanceiro()->getDataQuitacao())) ? $movFinPedido->getMovFinanceiro()->getDataQuitacao()->format('d/m/Y'):""; ?>" />
                                            <?php else: ?>
                                                <span><?php echo (!is_null($movFinPedido->getMovFinanceiro()->getDataQuitacao())) ? $movFinPedido->getMovFinanceiro()->getDataQuitacao()->format('d/m/Y'):""; ?></span>
                                                <input type="hidden" name="dataQuitacao[]" class="form-control dataQuitacao" value="<?php echo (!is_null($movFinPedido->getMovFinanceiro()->getDataQuitacao())) ? $movFinPedido->getMovFinanceiro()->getDataQuitacao()->format('d/m/Y'):""; ?>" />
                                            <?php endif; ?>

                                        </td>
                                        <td style="width: 1%;">
                                            <?php if($movFinPedido->getMovFinanceiro()->getStatus() == "F"): ?>
                                                <input type="checkbox" class="marcar-impressao" id="<?php echo $movFinPedido->getMovFinanceiro()->getId();?>" />
                                            <?php endif; ?>
                                        </td>
                                    </tr>

                                <?php endforeach; ?>
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <td style="text-align: right;" colspan="2">Valor Quitado:</td>
                                        <td colspan="4"><?php echo number_format($this->infoPedido->getValorParcial(), 2, ',', '.'); ?></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <button type="submit" id="gravarRemessa"  class="btn btn-primary">Salvar</button>
                        <button type="button" id="imprimir"  class="btn btn-success" style="margin-left: 50px;"
                                disabled="disabled">Imprimir recibo das parcelas marcadas</button>
                        <a href="#" id="voltar" class="btn btn-default">Voltar</a>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        $(".dataQuitacao").datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            orientation: "top right"
        });

        $(".marcar-impressao").click(function(){
            validarPagamentosSelecionadosEmissaoDeRecibo();
        });

        $("#imprimir").click(function(){
            var idParcImprimir = '';
            $(".marcar-impressao").each(function(){
                idParcImprimir = idParcImprimir + $(this).attr('id') + ',';
            })
            idParcImprimir = idParcImprimir.substring(0, idParcImprimir.length-1);
            window.open('/financeiro/pagamento-parcela/pedido/'+idParcImprimir+'/emitir-recibo', '_blank');
            return false;
        });


        $("#marcar-todos").click(function(){
            if($(this).is(':checked') == false){
                $(".marcar-impressao").prop('checked', false);
            }else{
                $(".marcar-impressao").prop('checked', true);
            }
            validarPagamentosSelecionadosEmissaoDeRecibo();
        });

        function validarPagamentosSelecionadosEmissaoDeRecibo()
        {
            var pagamentoMarcado = false;
            $(".marcar-impressao").each(function(){
                if($(this).is(':checked') == true ){
                    pagamentoMarcado =true;
                    return pagamentoMarcado;
                }
            });
            if(pagamentoMarcado == true){
                $("#imprimir").prop('disabled', false);
            }else{
                $("#imprimir").prop('disabled', 'disabled');
            }
        }
    });
</script>