<style>
    .titulo-recibo, .titulo-recibo .col-md-12{
        height: 1cm;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 20px;
    }
    .corpo-recibo{
        height: 5cm;
        line-height: 40px;
        text-align: justify;
        font-size: 18px;
    }
    .assinatura-recibo{
        height: 2cm;
    }
</style>
<?php $totalRecibos= 1;
foreach($this->infoParcelas as $infoParcela): ?>

        <div class="row titulo-recibo" <?php if($totalRecibos %4 == 0):?> style="page-break-before: always"<?php endif;?> >
            <div class="col-md-12" >Recibo de pagamento</div>
        </div>
    <?php if( $infoParcela instanceof \App\Entity\MovFinRemessa): ?>

        <div class="row corpo-recibo">
            <div class="col-md-12" style="">
                Eu, fornecedor(a) <strong><?php echo $infoParcela->getRemessaFornecedor()
                        ->getFornecedor()->getNomeFantasia();
                    ?></strong>, recebi, hoje <strong><?php echo $infoParcela->getMovFinanceiro()->getDataQuitacao()->format('d/m/Y'); ?></strong> da
                <strong>Semi Joias LTDA</strong> o pagamento de uma parcela no valor de
                <strong>R$ <?php echo number_format($infoParcela->getMovFinanceiro()->getValor(), 2, ',', '.'); ?></strong>,  na forma de pagamento:
                <strong><?php echo $infoParcela->getMovFinanceiro()->getFormaPgto()->getDescricao();?></strong>, referente a parcela de
                pagamento com o código: <strong><?php echo $infoParcela->getMovFinanceiro()->getId(); ?></strong>,
                da remessa de produtos com o código: <strong><?php echo $infoParcela->getRemessaFornecedor()->getId();?></strong>
                que deu entrada no estoque no dia:
                <strong><?php echo $infoParcela->getRemessaFornecedor()->getDataCadastro()->format('d/m/Y');?></strong>
            </div>
        </div>
        <div class="row assinatura-recibo">
            <div style="width: 11cm; margin:0 auto;border-top: solid 1px"></div>
            <p style="text-align: center;width: 11cm; margin:0 auto;;">Assinatura do Fornecedor</p>
        </div>
    <?php else: ?>
        <div class="row corpo-recibo">
            <div class="col-md-12" style="">
                A empresa <strong>Semi Joias LTDA</strong>, na data: <strong><?php echo $infoParcela->getMovFinanceiro()->getDataQuitacao()->format('d/m/Y'); ?></strong>,
                recebeu do cliente: <strong><?php echo $infoParcela->getPedido()
                        ->getCliente()->getNome();
                    ?></strong>, o valor <strong>R$ <?php echo number_format($infoParcela->getMovFinanceiro()
                        ->getValor(), 2, ',', '.'); ?></strong>, na forma de pagamento:
                <strong><?php echo $infoParcela->getMovFinanceiro()->getFormaPgto()->getDescricao();?></strong>.
                Este pagamento, é referente a parcela com do código:
                <strong><?php echo $infoParcela->getMovFinanceiro()->getId(); ?></strong> relativo a quitação do pedido
                de produtos com o código: <strong><?php echo $infoParcela->getPedido()->getId();?></strong>
                que foi cadastrado no dia:
                <strong><?php echo $infoParcela->getPedido()->getDataCadastro()->format('d/m/Y');?></strong> e entregue no dia:
                <strong><?php echo $infoParcela->getPedido()->getDataEntrega()->format('d/m/Y');?></strong>
            </div>
        </div>
        <div class="row assinatura-recibo">
            <div style="width: 11cm; margin:0 auto;border-top: solid 1px"></div>
            <p style="text-align: center;width: 11cm; margin:0 auto;;">Assinatura do responsável na Semi Joias LTDA</p>
        </div>
    <?php endif; ?>
<?php

    $totalRecibos++;
endforeach; ?>

<script>
   window.print();
</script>
