<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
/*
$name = $form->get('name');
$name->setAttribute('class', 'form-control')
    ->setLabelAttributes(['class' => 'control-label']);
$valueSale = $form->get('value_sale');
$valueSale->setAttribute('class', 'form-control')
    ->setLabelAttributes(['class' => 'control-label']);
$valueCost = $form->get('value_cost');
$valueCost->setAttribute('class', 'form-control');
$quantity = $form->get('quantity');
$quantity->setAttribute('class', 'form-control');
*/
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary')->setLabel('Incluir');

?>

<?php $form->setAttribute('action', $this->url('grupo.create')); ?>
<?php $form->prepare(); ?>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Cadastro de grupo de usuário
            </div>
            <?php echo $this->form()->openTag($this->form); ?>
            <div class="panel-body">
                <?php $message = $this->formElementErrors($form->get('nome'), ['class' => 'help-block']); ?>
                <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                    <?php echo $this->formLabel($form->get('nome')); ?>
                    <?php echo $this->formElement($form->get('nome')); ?>
                    <?php echo $message; ?>
                </div>

                <div class="panel-footer">
                    <?php echo $this->formButton($submit); ?>
                    <a href="#" id="voltar" class="btn btn-default">Voltar</a>
                </div>
                <?php $this->form()->closeTag(); ?>
            </div>
        </div>
    </div>
</div>