<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Grupos de Usuários

        </div>
        <div class="panel-body">
            <div class="row col-xs-12" style="margin-bottom: 10px;">
                <a href="<?php echo $this->url('grupo.create'); ?>" class="btn btn-primary">
                    <i class="fa fa-plus-circle"></i> Novo
                </a>
            </div>

            <div class="row col-xs-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 60%;">Nome</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>


                    <?php foreach($this->grupos as $grupo) : ?>
                        <tr>
                            <td><?php echo $this->escapeHtml($grupo->getNome());?></td>
                            <td>
                                <a href="<?php echo $this->url('grupo.update', ['id' => $grupo->getId()]); ?>" >Editar</a> |
                                <a href="<?php echo $this->url('grupo.delete', ['id' => $grupo->getId()]); ?>" >Excluir</a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel-footer">
            <a href="#" id="voltar" class="btn btn-default">Voltar</a>
        </div>
    </div>
</div>
