<table style="width: 100%;">
    <tbody>
    <tr>
        <td>
            <p style="text-align: justify;line-height: 30px;">
                Olá, estamos enviando-lhe essa mensagem para alertar sobre o agendamento de uma visita da
                <strong>Semi Joias LTDA</strong>, marcado pelo usuário: <strong><?php echo $this->usuario['nome']; ?></strong>
                . A visita será realizada na data e hora:
                <strong><?php echo $this->infoAgendamento->getDataHora()->format("d/m/Y H:i"); ?></strong>,
                no endereço do cliente <strong><?php echo $this->cliente->getNome(); ?></strong>. <br/>
                Abaixo seguem os detalhes do agendamento:
            </p>
        </td>
    </tr>
    </tbody>
</table>

<table style="width: 100%;">
    <thead>
    <tr>
        <th>
            <div style="border-bottom: solid 1px #ddd; width: 100%;height: 35px;background-color: #f4f4f4;line-height:35px;font-size: 18px; border-top-left-radius: 5px; border-top-right-radius: 10px;">
                <div style="margin-left: 10px;">Detalhamentos do agendamento de visita - Cod.: <?php echo $this->infoAgendamento->getId(); ?></div>
            </div>
        </th>
    </tr>
    </thead>
</table>


<div class="row">

    <table class="table" style=" margin-left: 25px;margin-top: 20px;">
        <thead>
        <tr>
            <th style="border-top: none;padding-left: 0px;line-height: 10px;font-size: 20px;font-weight: 100;">
                Definições Gerais
            </th>
        </tr>
        </thead>

    </table>
    <div class="col-md-12">
        <p style="font-size: 17px;margin-left: 10px;">
            Cliente:
            <strong><?php echo $this->cliente->getNome(); ?></strong>
        </p>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Data e Hora</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <?php echo $this->cliente->getNome(); ?>
                </td>
                <td>
                    <?php echo !is_null($this->cliente->getTelefoneCelular())? $this->cliente->getTelefoneCelular() :
                        $this->cliente->getTelefoneFixo();?>
                </td>
                <td>
                    <?php echo $this->cliente->getEmail();?>
                </td>
                <td>
                    <?php echo !is_null($this->infoAgendamento
                        ->getDataHora())?$this->infoAgendamento->getDataHora()->format("d/m/Y H:i"):""; ?>
                </td>
            </tr>
            <tr>
                <td>
                    Responsável pelo agendamento
                </td>
                <td colspan="3">
                    <?php echo $this->usuario['nome'];?>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<table style="width: 100%;">
    <tfoot>
    <tr>
        <th>
            <div style="border-bottom: solid 1px #ddd; width: 100%;height: 35px;background-color: #f4f4f4;
line-height:25px;font-size: 12px;border-bottom-left-radius: 9px; border-bottom-right-radius: 9px;
margin-bottom: -1px;">
                <div style="margin-left: 10px;">&copy; <?php echo date('Y');?> Semi Jóias LTDA</div>
            </div>
        </th>
    </tr>
    </tfoot>
</table>
