<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary')->setLabel('Editar');

?>

<?php
$id = $form->getObject()->getId();
$form->setAttribute('action', $this->url('planoconta.update',[ 'id' => $id])); ?>
<?php $form->prepare(); ?>
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Cadastro de Plano de Contas
            </div>
            <?php echo $this->form()->openTag($this->form); ?>
            <div class="panel-body">
                <div class="row">

                    <div class="col-xs-12">
                        <?php $message = $this->formElementErrors($form->get('descricao'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('descricao')); ?>
                            <?php echo $this->formElement($form->get('descricao')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 radioOptions">
                        <?php $message = $this->formElementErrors($form->get('ativo'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <p style="diplay:block;font-weight: 400;font-size: 0.875em;">Ativo?</p>
                            <?php echo $this->formElement($form->get('ativo')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <?php echo $this->formButton($submit); ?>
                <a href="#" id="voltar" class="btn btn-default">Voltar</a>
            </div>
            <?php $this->form()->closeTag(); ?>


        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {

    });

</script>