<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary')->setLabel('Incluir');

?>

<?php $form->setAttribute('action', $this->url('produto.create')); ?>
<?php $form->prepare(); ?>
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Cadastro de produto
            </div>
            <?php echo $this->form()->openTag($this->form); ?>
            <div class="panel-body">
                <div class="row">

                    <div class="col-xs-6">
                        <?php $message = $this->formElementErrors($form->get('nome'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('nome')); ?>
                            <?php echo $this->formElement($form->get('nome')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <?php $message = $this->formElementErrors($form->get('fornecedor'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('fornecedor')); ?>
                            <?php echo $this->formElement($form->get('fornecedor')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('metal'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('metal')); ?>
                            <?php echo $this->formElement($form->get('metal')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('peso'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('peso')); ?>
                            <?php echo $this->formElement($form->get('peso')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('formato'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('formato')); ?>
                            <?php echo $this->formElement($form->get('formato')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('pedra'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('pedra')); ?>
                            <?php echo $this->formElement($form->get('pedra')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('tipoPedra'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('tipoPedra')); ?>
                            <?php echo $this->formElement($form->get('tipoPedra')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('corPedra'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('corPedra')); ?>
                            <?php echo $this->formElement($form->get('corPedra')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('dimensaoPedra'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('dimensaoPedra')); ?>
                            <?php echo $this->formElement($form->get('dimensaoPedra')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                    <div class="col-xs-4 ">
                        <?php $message = $this->formElementErrors($form->get('ativo'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?> radioOptions">

                            <p class="label-radio">Ativo?</p>
                            <?php echo $this->formElement($form->get('ativo')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                    <div class="col-xs-4 ">
                        <?php $message = $this->formElementErrors($form->get('garantia'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?> radioOptions">
                            <p class="label-radio">Tem Garantia?</p>
                            <?php echo $this->formElement($form->get('garantia')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <?php echo $this->formButton($submit); ?>
                <a href="#" id="voltar" class="btn btn-default">Voltar</a>
            </div>
            <?php $this->form()->closeTag(); ?>


        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {

    });

</script>