<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
$submit = $form->get('submit');
$submit->setLabel('Pesquisar');

?>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Produtos

        </div>
        <div class="panel-body">

            <?php if($this->flashMessages): ?>
                <div class="row">
                    <?php foreach($this->flashMessages as $namespace => $messages): ?>
                        <div class=" col-xs-12 alert alert-<?php echo $namespace;?>">
                            <ul>
                                <?php foreach ($messages as $msg): ?>
                                    <?php echo $msg; ?>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>

            <div class="row col-xs-12" style="margin-bottom: 10px;">
                <a href="<?php echo $this->url('produto.create'); ?>" class="btn btn-primary">
                    <i class="fa fa-plus-circle"></i> Novo
                </a>
            </div>

            <?php echo $this->form()->openTag($this->form); ?>
            <div class="row ">
                <div class="col-md-12">
                    <?php echo $this->formLabel($form->get('nome')); ?>
                    <?php echo $this->formElement($form->get('nome')); ?>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="formgroup" style="margin-bottom: 20px;margin-top: 20px;">
                        <?php echo $this->formElement($form->get('submit')); ?>
                    </div>
                </div>
            </div>
            <?php $this->form()->closeTag(); ?>

            <div class="row col-xs-12">
                <table class="table table-bordered"  id="listDataTable">
                    <thead>
                    <tr>
                        <th style="width: 40%">Descrição</th>
                        <th>Fornecedor</th>
                        <th>Peso</th>
                        <th>Situação</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>


                    <?php foreach($this->produtos as $produto) : ?>
                        <tr>
                            <td><?php echo $this->escapeHtml($produto->getNome());?></td>
                            <td><?php echo $this->escapeHtml($produto->getFornecedor()->getNomeFantasia());?></td>
                            <td><?php echo $produto->getPeso();?></td>
                            <td><?php echo ($produto->getAtivo()=="1")? "Ativo" : "Inativo";?></td>
                            <td>
                                <a href="<?php echo $this->url('produto.update', ['id' => $produto->getId()]); ?>" >Editar</a>
                                <!--<a href="<?php echo $this->url('produto.delete', ['id' => $produto->getId()]); ?>" >Excluir</a>-->
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>


        </div>

        <div class="panel-footer">
            <a href="#" id="voltar" class="btn btn-default">Voltar</a>
        </div>
    </div>
</div>

<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.fixedHeader.js"></script>
<script src="/js/dataTables.tableTools.js"></script>
<script src="/js/jquery.dataTables.bootstrap.js"></script>

<!-- this page specific inline scripts -->
<script>
    $(document).ready(function() {

        var tableFixed = $('#listDataTable').dataTable({
            'info': false,
            'pageLength': 10,
            "aLengthMenu": [[5, 10, 25, 50, 100, 250, 500, -1], [5, 10, 25, 50, 100, 250, 500, "Todos"]],
            "oLanguage": {
                "sSearch": "Filtro: ",
                "sLengthMenu": "Total de registros por pagina: _MENU_ "
            }
        });

        //new $.fn.dataTable.FixedHeader( tableFixed );
    });
</script>
