
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }

    .itensPedidos{
        text-transform: uppercase;
        font-size: 0.875em;
    }
    .itensPedidos td {
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Cadastro de remessa - Definir Parcelas
            </div>
            <form method="POST" action="<?php echo $this->url('remessa.define_plots', ['remessa' => $this->infoRemessa->getId()]); ?>">
                <div class="panel-body">
                    <?php if($this->flashMessages): ?>
                        <div class="row">
                            <?php foreach($this->flashMessages as $namespace => $messages): ?>
                                <div class=" col-xs-12 alert alert-<?php echo $namespace;?>">
                                    <ul>
                                        <?php foreach ($messages as $msg): ?>
                                            <?php echo $msg; ?>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            <?php endforeach; ?>
                        </div>
                    <?php endif; ?>
                    <div class="row">
                        <div class="row">
                            <p class="label-cliente-fornecedor" >Fornecedor:</p>
                            <p class="nome-cliente-fornecedor"><?php echo $this->infoRemessa->getFornecedor()->getNomeFantasia(); ?></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                Forma de Pagamento:
                                <select name="formaPagamento" id="formaPagamento" class="form-control dadoParcela">
                                    <!--<option value="">Selecione ..</option>-->
                                    <?php foreach( $this->formasPgto as $idFormaPagamento =>$formaPagto): ?>
                                        <option value="<?php echo $idFormaPagamento; ?>"><?php echo $formaPagto;?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-3">
                            <div class="form-group">
                                Valor:
                                <input type="text" name="valor" id="valor" class="form-control dadoParcela" />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                Data Vencimento:
                                <input type="text" name="dataVencimento" id="dataVencimento" class="form-control dadoParcela" value="" />
                            </div>
                        </div>

                        <div class="col-xs-2">

                            <button type="button" id="adicionarItem" class="btn btn-success" style="margin-top: 20px;">Adicionar</button>
                        </div>
                    </div>

                    <div class="row">
                        <div id="msg-validate" class=""></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered">
                                <tbody>
                                <tr class="itensPedidos" >
                                    <td class="forma-pagamento-parcela" style="width: 60%;" >
                                        <span>Forma de Pagamento</span>
                                        <input type="hidden" name="formasPgto[]" class="formasPgto" />
                                        <input type="hidden" name="idMovRemessa[]" />
                                    </td>
                                    <td class="valor-parcela" style="width: 15%; ">
                                        <span>Valor</span>
                                        <input type="hidden" name="valores[]" class="valor" />
                                    </td>
                                    <td class="vencimento-parcela" style="width: 15;">
                                        <span>Vencimento</span>
                                        <input type="hidden" name="datasVencimento[]" />
                                    </td>
                                    <td class="item-link" style="width: 5%;">Remover</td>
                                </tr>
                                <?php
                                $totalParcelas = 0;
                                foreach($this->infoParcelas as $infoParcela):
                                    $totalParcelas += $infoParcela->getMovFinanceiro()->getValor();
                                    ?>
                                    <tr class="itensPedidos" >
                                        <td class="forma-pagamento-parcela" style="width: 60%;" >
                                            <span><?php echo $infoParcela->getMovFinanceiro()->getFormaPgto()->getDescricao();?></span>
                                            <input type="hidden" name="formasPgto[]" class="formasPgto"
                                                   value="<?php echo $infoParcela->getMovFinanceiro()->getFormaPgto()->getId();?>" />
                                            <input type="hidden" name="idMovRemessa[]"
                                                   value="<?php echo $infoParcela->getId();?>" />
                                        </td>
                                        <td class="valor-parcela" style="width: 15%; ">
                                            <span><?php echo number_format($infoParcela->getMovFinanceiro()->getValor() , 2, ',', '.'); ?></span>
                                            <input type="hidden" name="valores[]" class="valor"
                                                   value="<?php echo $infoParcela->getMovFinanceiro()->getValor(); ?>" />
                                        </td>
                                        <td class="vencimento-parcela" style="width: 15;">
                                            <span><?php echo $infoParcela->getMovFinanceiro()->getDataVencimento()->format('d/m/Y'); ?></span>
                                            <input type="hidden" name="datasVencimento[]"
                                                   value="<?php echo $infoParcela->getMovFinanceiro()->getDataVencimento()->format('d/m/Y'); ?>"/>
                                        </td>
                                        <td class="item-link" style="width: 5%;">
                                            <?php if($infoParcela->getMovFinanceiro()->getStatus() == "A"): ?>
                                            <a href='#' class='removerItem' >Remover</a>
                                            <?php endif; ?>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="4" >
                                        <div class="row">
                                            <div class="col-md-4">
                                                Valor Total do Pedido:
                                                <span style="font-weight: bold;" >R$ <?php echo number_format($this->infoRemessa->getValorTotal(),  2, ',', '.'); ?></span>
                                            </div>
                                            <div class="col-md-4">
                                                Valor Total Parcelas:
                                                <span id="total-parcela" style="font-weight: bold;" >R$ <?php echo number_format($totalParcelas,  2, ',', '.'); ?></span>
                                            </div>
                                            <div class="col-md-4">
                                                Valor Res. Parcelar:
                                                <span id="restante-parcelar" style="font-weight: bold;" >R$ <?php echo number_format($this->infoRemessa->getValorTotal() - $totalParcelas,  2, ',', '.'); ?></span>
                                            </div>
                                        </div>
                                    </td>


                                </tr>
                                </tfoot>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <button type="submit" id="gravarRemessa" disabled="disabled" class="btn btn-primary">Salvar</button>
                        <a href="#" id="voltar" class="btn btn-default">Voltar</a>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>
<script type="text/javascript">

    var formasPgtoJSON = <?php echo $this->formasPgtoJSON; ?>;
    var valorTotalPedido = <?php echo $this->infoRemessa->getValorTotal(); ?>;
    var valorTotalParcelas = <?php echo $totalParcelas; ?>;
    $(document).ready(function() {

        $('#dataVencimento').mask("99/99/9999");

        $('#dataVencimento').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            orientation: "top right"
        }).on("changeDate", function(e) {
            validaParcela();
        });

        $("#valor").maskMoney({showSymbol:true, symbol:"R$ ", decimal:",", thousands:"."});
        $(document.body).on('click', '.removerItem', function(){
            linhaRemover = $(this).parent().parent();
            linhaRemover.remove();
            var totalParcelas = calculaTotalParcelas();
            $("#total-parcela").html(formataNumeroMoeda( totalParcelas ));
            validaTotalParcelas(totalParcelas);
            $("#restante-parcelar").html(formataNumeroMoeda( valorTotalPedido - totalParcelas ));
            return false;
        });

        if(valorTotalPedido == valorTotalParcelas){
            $("#gravarRemessa").prop('disabled', false);
        }
        $("#adicionarItem").prop('disabled', 'disabled');


        $("#adicionarItem").click(function(){
            var indiceProduto = $("#produtoAdicionar").val();

            novaLinhaItem = $(".itensPedidos:first").clone();

            novaLinhaItem.find(".forma-pagamento-parcela span").html( formasPgtoJSON[$("#formaPagamento").val()] );
            novaLinhaItem.find(".forma-pagamento-parcela .formasPgto").val($("#formaPagamento").val());
            novaLinhaItem.find(".valor-parcela span").html( "R$ " + $("#valor").val() );
            novaLinhaItem.find(".valor-parcela input").val( convertValorMoedaEmFloat( $("#valor").val() ) );
            novaLinhaItem.find(".vencimento-parcela span").html( $("#dataVencimento").val()  );
            novaLinhaItem.find(".vencimento-parcela input").val( $("#dataVencimento").val() );
            novaLinhaItem.find(".item-link").html("<a href='#' class='removerItem' >Remover</a>");


            // Insere a linha clonada
            novaLinhaItem.insertAfter(".itensPedidos:last");

            $("#gravarRemessa").prop('disabled', 'disabled');
            $("#adicionarItem").prop('disabled', 'disabled');
            $("#valor").val("");
            $("#dataVencimento").val("");
            var totalParcelas = calculaTotalParcelas();
            $("#total-parcela").html(formataNumeroMoeda( totalParcelas ));
            $("#restante-parcelar").html(formataNumeroMoeda( valorTotalPedido - totalParcelas ));
            validaTotalParcelas(totalParcelas);

        });

        $(document.body).on('blur', '.dadoParcela', function(){

            validaParcela();

        });

    });

    function calculaTotalParcelas()
    {
        var totalParcelas = 0;
        $(".valor").each(function(index, valor){

            if(valor.value != "" ){
                totalParcelas += parseFloat(valor.value);
            }
        });
        return totalParcelas;
    }

    function convertValorMoedaEmFloat(stringValor)
    {
        var valor = "";
        //valor = stringValor.replace("R$","");
        valor = stringValor;
        if( valor.search(".") != -1 ){
            valor = stringValor.replace(/[\.]/g, '');
        }
        if( valor.search(" ") != -1 ){
            valor = valor.replace(" ", "");
        }
        if( valor.search(",") != -1 ){
            valor = valor.replace(',', '.');
        }
        if(valor == ""){
            return 0
        }else{
            return parseFloat(valor);
        }
    }

    function formataNumeroMoeda (num) {
        var numero = num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1 ");

        numero =  numero.replace('.', ',');
        var res = numero.split(",",3);
        if(res[res.length - 1].length == 1 && res.length != 1){
            res[res.length - 1] = res[res.length - 1] + "0";
            numero = res.join(",");
        }
        if(res.length == 1){
            res[res.length - 1] = res[res.length - 1] + ",00";
            numero = res.join(",");
        }


        numero =  'R$ '+numero.replace(/\s/g, '.');
        return numero;
    }

    function validaParcela()
    {
        var validForm = true;
        $(".dadoParcela").each(function(index, valor){

            if(valor.value == "" || valor.value == "0,00"){
                validForm = false;
                return validForm;
            }
        });

        if(validForm){
            $("#adicionarItem").prop('disabled', false);
        }else{
            $("#adicionarItem").prop('disabled', 'disabled');
        }
    }

    function validaTotalParcelas(totalParcelas)
    {
        if(totalParcelas > valorTotalPedido){
            $("#msg-validate").html("O valor total parcelado é maior do que o valor total do pedido, corrija as parcelas");
            $("#msg-validate").addClass("col-md-12 alert alert-danger");
            $("#gravarRemessa").prop('disabled', 'disabled');
        }else{
            $("#msg-validate").html("");
            $("#msg-validate").removeClass("col-md-12 alert alert-danger");
            $("#gravarRemessa").prop('disabled', false);
        }

        if( totalParcelas < valorTotalPedido){
            $("#gravarRemessa").prop('disabled', 'disabled');
        }
        if(totalParcelas == valorTotalPedido){
            $("#gravarRemessa").prop('disabled', false);
        }

    }

</script>