<section id="col-left" class="col-left-nano">
        <div id="col-left-inner" class="col-left-nano-content">
            <div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown">
                <img alt="" src="/img/usuario/<?php echo $this->formataNomeFoto(140, $this->identity());?>" height="70" width="70" />
                <div class="user-box">
									<span class="name">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											<?php echo substr($this->identity()['nome'],0,10); ?>.
											<i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu">
                                            <li><a href="<?php echo $this->url('usuario.profile'); ?>"><i class="fa fa-user"></i>Perfil</a></li>
                                            <!--
											<li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>
											<li><a href="#"><i class="fa fa-envelope-o"></i>Messages</a></li>-->
                                            <li><a href="<?php echo $this->url('usuario.logout'); ?>"><i class="fa fa-power-off"></i>Logout</a></li>
										</ul>
									</span>
                    <span class="status">
										<i class="fa fa-circle"></i> Online
									</span>
                </div>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-header nav-header-first hidden-sm hidden-xs">
                        Navegação
                    </li>
                    <!--<li class="active">
                        <a href="index.html">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                            <span class="label label-primary label-circle pull-right">28</span>
                        </a>
                    </li>-->
                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-users"></i>
                            <span>Clientes</span>
                            <i class="fa fa-angle-right drop-icon"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="<?php echo $this->url('cliente.create'); ?>">
                                    Cadastrar
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo $this->url('cliente.list'); ?>">
                                    Clientes
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-table"></i>
                            <span>Estoque</span>
                            <i class="fa fa-angle-right drop-icon"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="<?php echo $this->url('remessa.list'); ?>">
                                    Remessas
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-truck"></i>
                            <span>Fornecedores</span>
                            <i class="fa fa-angle-right drop-icon"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="<?php echo $this->url('fornecedor.create'); ?>">
                                    Cadastrar
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo $this->url('fornecedor.list'); ?>">
                                    Fornecedores
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-bar-chart-o"></i>
                            <span>Financeiro</span>
                            <i class="fa fa-angle-right drop-icon"></i>
                        </a>
                        <ul class="submenu">

                            <li>
                                <a href="<?php echo $this->url('formapgto.list'); ?>">
                                    Formas de Pagamento
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo $this->url('movfinanceiro.list'); ?>">
                                    Lançamentos Contábeis
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo $this->url('pagamentos.list', ['tipo' => 'pagar']); ?>">
                                    Pagamentos
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo $this->url('planoconta.list'); ?>">
                                    Planos de Contas
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo $this->url('pagamentos.list', ['tipo' => 'receber']); ?>">
                                    Recebimentos
                                </a>
                            </li>
                            <!--<li>
                                <a href="graphs-xcharts.html">
                                    xCharts
                                </a>
                            </li>-->
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-dropbox"></i>
                            <span>Produtos</span>
                            <i class="fa fa-angle-right drop-icon"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="<?php echo $this->url('produto.create'); ?>">
                                    Cadastrar
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo $this->url('produto.list'); ?>">
                                    Produtos
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-file-text-o""></i>
                            <span>Relatórios</span>
                            <i class="fa fa-angle-right drop-icon"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="<?php echo $this->url('relatorio.record_select');?>">
                                    Cadastros
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo $this->url('relatorio.pay_count');?>">
                                    Contas á pagar
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo $this->url('relatorio.receive_count');?>">
                                    Contas á receber
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo $this->url('relatorio.flow_cashier');?>">
                                    Fluxo de Caixa
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo $this->url('relatorio.order');?>">
                                    Pedidos
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo $this->url('relatorio.sales_per_customer');?>">
                                    Vendas por cliente
                                </a>
                            </li><li>
                                <a href="<?php echo $this->url('agenda.report');?>">
                                    Visitas
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-globe""></i>
                            <span>Sistema</span>
                            <i class="fa fa-angle-right drop-icon"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="<?php echo $this->url('usuario.list');?>">
                                    Usuários
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-sitemap"></i>
                            <span>Venda</span>
                            <i class="fa fa-angle-right drop-icon"></i>
                        </a>
                        <ul class="submenu">
                            
                            <li>
                                <a href="<?php echo $this->url('pedido.list'); ?>">
                                    Pedidos
                                </a>
                            </li>
                            <!--<li>
                                <a href="email-compose.html">
                                    Compose
                                </a>
                            </li>-->
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-table"></i>
                            <span>Visita</span>
                            <i class="fa fa-angle-right drop-icon"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="<?php echo $this->url('agenda.list'); ?>">
                                    Visitas Agendadas
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div id="nav-col-submenu"></div>