<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Formas de Pagamento
            </div>

            <div class="panel-body">
                <?php if($this->flashMessages): ?>
                    <div class="row">
                        <?php foreach($this->flashMessages as $namespace => $messages): ?>
                            <div class=" col-xs-12 alert alert-<?php echo $namespace;?>">
                                <ul>
                                    <?php foreach ($messages as $msg): ?>
                                        <?php echo $msg; ?>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>

                <div class="row col-xs-12" style="margin-bottom: 10px;">
                    <a href="<?php echo $this->url('formapgto.create'); ?>" class="btn btn-primary">
                        <i class="fa fa-plus-circle"></i> Nova
                    </a>
                </div>

                <div class="row">

                    <div class="col-xs-12">
                        <table class="table table-bordered" id="listDataTable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th style="width: 70%;">Descrição</th>
                                <th>Ativo
                                <th>Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($this->formasPgto as $formPgto): ?>
                                <tr>
                                    <td><?php echo $formPgto->getId(); ?></td>
                                    <td><?php echo $formPgto->getDescricao();?></td>
                                    <td><?php echo $formPgto->getAtivo() ? "Sim" : "Não";?></td>
                                    <td>
                                        <a href="<?php echo $this->url('formapgto.update', ['id' => $formPgto->getId()]); ?>">Editar</a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="panel-footer">
                <a href="#" id="voltar" class="btn btn-default">Voltar</a>
            </div>

        </div>
    </div>
</div>

<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.fixedHeader.js"></script>
<script src="/js/dataTables.tableTools.js"></script>
<script src="/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#exampleModal').modal({
            keyboard: false,
            show: false
        });
        var tableFixed = $('#listDataTable').dataTable({
            'info': false,
            'pageLength': 10,
            "aLengthMenu": [[5, 10, 25, 50, 100, 250, 500, -1], [5, 10, 25, 50, 100, 250, 500, "Todos"]],
            "order": [[ 0, "desc" ]],
            "oLanguage": {
                "sSearch": "Filtro: ",
                "sLengthMenu": "Total de registros por pagina: _MENU_ "
            }
        });

        //new $.fn.dataTable.FixedHeader( tableFixed );

    });

</script>