<td><?php echo $this->exibeDadoRelatorio( $this->infoDado->getFornecedor()->getNomeFantasia() ) ;?></td>
<td><?php echo $this->exibeDadoRelatorio( $this->infoDado->getFornecedor()->getEmail() );?></td>
<td><?php echo $this->exibeDadoRelatorio( $this->infoDado->getFornecedor()->getTelefoneFixo() );?></td>
<td><?php echo $this->exibeDadoRelatorio( $this->infoDado->getFornecedor()->getTelefoneCelular() );?></td>
<td><?php echo $this->exibeDadoRelatorio( $this->infoDado->getNome() );?></td>
<td><?php echo $this->exibeDadoRelatorio( $this->infoDado->getTelefone() );?></td>