<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
$submit = $form->get('submit');
$submit->setLabel('Gerar Relatório');

?>
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Escolha de Cadastro para geração de relatório
            </div>
            <?php echo $this->form()->openTag($this->form); ?>

            <div class="panel-body">
                <?php if($this->flashMessages): ?>
                    <div class="row">
                        <?php foreach($this->flashMessages as $namespace => $messages): ?>
                            <div class=" col-xs-12 alert alert-<?php echo $namespace;?>">
                                <ul>
                                    <?php foreach ($messages as $msg): ?>
                                        <?php echo $msg; ?>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>



                <div class="row ">
                    <div class="col-md-12">
                        <?php echo $this->formLabel($form->get('cadastro')); ?>
                        <?php echo $this->formElement($form->get('cadastro')); ?>
                    </div>

                </div>






            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">

                            <?php echo $this->formElement($form->get('submit')); ?>
                            <a href="#" id="voltar" class="btn btn-default">Voltar</a>

                    </div>
                </div>
            </div>

            <?php $this->form()->closeTag(); ?>

        </div>
    </div>
</div>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.fixedHeader.js"></script>
<script src="/js/dataTables.tableTools.js"></script>
<script src="/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>
