<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
$submit = $form->get('submit');
$submit->setLabel('Pesquisar');

?>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #337ab7;" bgcolor="#337ab7">
            Relatório de Cadastramentos <?php echo $this->exibeTituloRelatorio($this->nomeCadastro);?>

        </div>
        <div class="panel-body">
            <?php if($this->flashMessages): ?>

                <div class="row">
                    <?php foreach($this->flashMessages as $namespace => $messages): ?>
                        <div class=" col-xs-12 alert alert-<?php echo $namespace;?>">
                            <ul>
                                <?php foreach ($messages as $msg): ?>
                                    <?php echo $msg; ?>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>
            <div class="row col-xs-12" style="margin-bottom: 10px;">
                <a href="<?php echo $this->url('pedido.define_client'); ?>" class="btn btn-primary">
                    <i class="fa fa-plus-circle"></i> Novo
                </a>
            </div>

            <?php echo $this->form()->openTag($this->form); ?>
            <div class="row form-line">
                <?php foreach($this->form->getElements() as $element): ?>
                <?php if($element->getName() != "submit"): ?>

                        <?php if($element->getName() == "nome"): ?>
                            <div class="col-md-12">
                                <?php echo $this->formLabel($form->get( $element->getName() )); ?>
                                <?php echo $this->formElement($form->get( $element->getName() )); ?>
                            </div>
                        <?php else: ?>
                            <div class="col-md-3">
                                <?php echo $this->formLabel($form->get( $element->getName() )); ?>
                                <?php echo $this->formElement($form->get( $element->getName() )); ?>
                            </div>
                        <?php endif; ?>

                <?php endif; ?>
                <?php endforeach;?>

            </div>
            <div class="row form-line">
                <div class="col-md-2">
                    <div class="form-group" style="margin-bottom: 20px;margin-top: 20px;">
                        <?php echo $this->formElement($form->get('submit')); ?>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group" style="margin-bottom: 20px;margin-top: 20px;">
                        <button type="submit" name="imprimir" id="btnImprimir" class="btn btn-primary">Imprimir</button>
                    </div>
                </div>
            </div>


           <!-- <div class="row">
                <div class="col-md-12" style="padding-left:10px;margin-bottom: 10px; border-top-left-radius: 3px;border: 1px solid #e7ebee;">
                    <div style="float:left;width: 5%;padding-left: 10px;width: 35px;">
                        <i class="fa fa-picture-o blue-bg" style="font-size: 35px;"></i>
                    </div>
                    <div style="float:right;width: 95%;">
                        <h1 style="font-size: 35px;text-align: center;">Relatório de Cadastramentos <?php //echo $this->exibeTituloRelatorio($this->nomeCadastro);?></h1>
                        <p></p>
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-md-12">

                    <table class="table table-bordered" id="listDataTable" >
                        <thead>
                        <tr>
                            <?php foreach($this->cabecalhosRelatorio as $cabecalho): ?>
                            <th style=""><?php echo $cabecalho; ?></th>
                            <?php endforeach; ?>
                        </tr>
                        </thead>
                        <tbody>


                        <?php foreach($this->dadosListar as $infoDado) : ?>
                            <tr>
                                <?php if($this->nomeCadastro == "Fornecedor"): ?>

                                    <?php echo $this->partial('app::relatorio/cadastro/dados-fornecedor', [
                                        'infoDado'     => $infoDado
                                    ]); ?>
                                <?php else: ?>
                                    <?php foreach($this->cabecalhosRelatorio as $nomeAtributo => $cabecalho):
                                          $nomeMetodo = "get".ucfirst($nomeAtributo) ;
                                    ?>
                                    <td>
                                        <?php if(method_exists($infoDado,$nomeMetodo )):
                                                echo $this->exibeDadoRelatorio(
                                                    $infoDado->{$nomeMetodo}(),
                                                    $nomeMetodo,
                                                    $infoDado
                                                );
                                              else:
                                                echo "";
                                              endif;
                                        ?>
                                    </td>
                                    <?php endforeach; ?>

                                <?php endif; ?>


                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>



        </div>

        <div class="panel-footer">

            <a href="#" id="voltar" class="btn btn-default">Voltar</a>
        </div>
        <?php $this->form()->closeTag(); ?>
    </div>
</div>


<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.fixedHeader.js"></script>
<script src="/js/dataTables.tableTools.js"></script>
<script src="/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>


<!-- this page specific inline scripts -->
<script>
    $(document).ready(function() {

        var tableFixed = $('#listDataTable').dataTable({
            'info': false,

            <?php if(isset($_REQUEST['imprimir'])): ?>
            'pageLength': -1,
            <?php else: ?>
            'pageLength': 10,
            <?php endif;?>

            "aLengthMenu": [[2, 10, 25, 50, 100, 250, 500, -1], [2, 10, 25, 50, 100, 250, 500, "Todos"]],
            "oLanguage": {
                "sSearch": "Filtro: ",
                "sLengthMenu": "Total de registros por pagina: _MENU_ "
            }
        });

       // new $.fn.dataTable.FixedHeader( tableFixed );

        <?php if(isset($_REQUEST['imprimir'])): ?>
        $("#listDataTable_wrapper .row:first").css('display', 'none');
        $("#listDataTable_wrapper .row:last").css('display', 'none');
        /*$("#header-navbar").css('display', 'none');
        $("#nav-col").css('display', 'none');
        $("#footer-bar").css('display', 'none');
        */
        window.print();

        <?php endif; ?>



        $(".valor").maskMoney({showSymbol:true, symbol:"R$ ", decimal:",", thousands:"."});
        $('.data').mask("99/99/9999");
        $('.data').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            orientation: "top right"
        });

        $('#telefoneFixo,#telefoneCelular,#telefoneContato').mask("(99) 99999 - 9999");
        $('#telefoneFixo,#telefoneCelular,#telefoneContato').focusout(function(){

            var phone, element;
            element = $(this);
            element.unmask();
            phone = element.val().replace(/\D/g, '');

            if(phone.length > 10){
                element.mask("(99) 99999 - 9999");
            }else{
                element.mask("(99) 9999 - 9999");
            }
        }).trigger('focusout');
    });
</script>