
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }

    .itensPedidos{
        text-transform: uppercase;
        font-size: 0.875em;
    }
    .itensPedidos td {
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Remessa de Fornecedor - Acerto de remessa
            </div>
            <form method="POST" id="acerto-remessa"
                  action="<?php echo $this->url('remessa.set_status', ['remessa' => $this->infoRemessa->getId()]);?>">
                <div class="panel-body">
                    <?php if($this->flashMessages): ?>

                        <div class="row">
                            <?php foreach($this->flashMessages as $namespace => $messages): ?>
                                <div class=" col-xs-12 alert alert-<?php echo $namespace;?>">
                                    <ul>
                                        <?php foreach ($messages as $msg): ?>
                                            <?php echo $msg; ?>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            <?php endforeach; ?>
                        </div>
                    <?php endif; ?>

                    <div class="row">
                        <p class="label-cliente-fornecedor">Fornecedor: <span style="font-weight: bold;"><?php echo $this->infoRemessa->getFornecedor()->getNomeFantasia(); ?></span></p>
                    </div>

                    <div class="row">
                        <div id="msg-validate" class=""></div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 50%;">Nome do Produto</th>
                                        <th>V. Unit. Custo</th>
                                        <th>Quant. Total</th>
                                        <th>Quant. Vendida</th>
                                        <th>Quant. Dev.</th>

                                        <th>Valor Acertar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <?php $valorTotalAcerta = 0;
                                foreach ($this->produtosRemessa as $itemRemessa): ?>
                                    <tr>
                                       <td><?php echo $itemRemessa->getProduto()->getNome();?></td>
                                       <td><?php echo number_format($itemRemessa->getPrecoCusto(), 2, ',', '.'); ?></td>
                                       <td><?php echo $itemRemessa->getQuantidade(); ?></td>
                                       <td><?php echo ($itemRemessa->getQuantidade() - $itemRemessa->getQuantParcial()); ?></td>
                                       <td><?php echo $itemRemessa->getQuantParcial(); ?></td>
                                       <?php $totalAcertarItem = ($itemRemessa->getQuantidade() -
                                               $itemRemessa->getQuantParcial()) * $itemRemessa->getPrecoCusto();
                                       $valorTotalAcerta += $totalAcertarItem;
                                       ?>
                                       <td><?php echo  number_format($totalAcertarItem, 2, ',', '.')?></td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td style="font-weight: bold;" >
                                        Status Atual: <?php echo $this->infoRemessa->getStatus(); ?>
                                    </td>
                                    <td colspan="4" style="font-weight: bold;text-align: right;" >Valor Total Acertar:

                                    </td>
                                    <td>
                                        <span id="preco-cliente-total" style="background-color: #eee;padding: 2px;">
                                            <?php echo  number_format($valorTotalAcerta, 2, ',', '.')?>
                                        </span>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <input type="hidden" name="status" id="status" />
                        <button type="submit" data-status="Devolvida" class="btn btn-primary gravarRemessa">Finalizar Remessa</button>
                        <button type="submit" data-status="Ativa" class="btn btn-success gravarRemessa">Ativar Remessa</button>
                        <a href="#" class="btn btn-default" id="imprimir">Imprimir</a>
                        <a href="#" id="voltar" class="btn btn-default">Voltar</a>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    $(".gravarRemessa").click(function(){
        $("#status").val($(this).attr('data-status'));
        return true;
    });

    $("#imprimir").click(function(){
        window.print();
        return false;
    });
});

</script>