<?php
/** @var \App\Form\ProductForm $form */

$form = $this->form;
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary')->setLabel('Confirmar');

?>

<?php $form->setAttribute('action', $this->url('remessa.define_provider')); ?>
<?php $form->prepare(); ?>
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Cadastro de remessa de produtos - Definir Fornecedor
            </div>
            <?php echo $this->form()->openTag($this->form); ?>
            <div class="panel-body">
                <?php if($this->flashMessages): ?>
                    <div class="row">
                        <div class=" col-xs-12 alert alert-danger">
                            <ul>
                                <?php foreach ($this->flashMessages as $msg): ?>
                                    <?php echo $msg; ?>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                    </div>
                <?php endif; ?>
                <div class="row">

                    <div class="col-xs-12">
                        <?php $message = $this->formElementErrors($form->get('fornecedor'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('fornecedor')); ?>
                            <?php echo $this->formElement($form->get('fornecedor')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel-footer">
                <?php echo $this->formButton($submit); ?>
                <a href="#" id="voltar" class="btn btn-default">Voltar</a>
            </div>
            <?php $this->form()->closeTag(); ?>

            <?php //$this->flashMessager(); ?>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {

    });

</script>