
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }

    .itensPedidos{
        text-transform: uppercase;
        font-size: 0.875em;
    }
    .itensPedidos td {
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Cadastro de remessa de produtos - Definir Items
            </div>
            <form method="POST" action="/estoque/remessa/<?php echo $this->produtosRemessa[0]->getRemessaFornecedor()->getId(); ?>/editar-items">
                <div class="panel-body">

                    <div class="row">
                        <p class="label-cliente-fornecedor">Fornecedor: <span style="font-weight: bold;"><?php echo $this->produtosFornecedor[0]->getFornecedor()->getNomeFantasia(); ?></span></p>
                    </div>

                    <div class="row">

                        <div class="col-xs-10">
                            <div class="form-group">
                                <select id="produtoAdicionar" class="form-control">
                                    <option value="">Selecione um produto</option>
                                    <?php foreach($this->produtosFornecedor as $indice => $infoProduto): ?>
                                        <option value="<?php echo $indice; ?>">
                                            <?php echo $infoProduto->getNome();?>
                                        </option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" id="adicionarItem" class="btn btn-success">Adicionar</button>
                        </div>
                    </div>

                    <div class="row">
                        <div id="msg-validate" class=""></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered">
                                <tbody>
                                <tr class="itensPedidos" >
                                    <td class="identificador-produto" style="width: 5%;">ID</td>
                                    <td class="item-nome" style="width: 45%;" >
                                        <span>Nome do Produto</span>
                                        <input type="hidden" class="id-produto" name="produto[]" />
                                    </td>
                                    <td class="item-preco-custo" style="width: 12%; ">
                                        <span>P. de Custo</span>
                                        <input type="hidden" class="form-control valor" name="precoCusto[]" />
                                    </td>
                                    <td class="item-preco-cliente" style="width: 12%;">
                                        <span>P. de Venda</span>
                                        <input type="hidden" class="form-control valor" name="precoCliente[]" />
                                    </td>
                                    <td class="item-quantidade" style="width: 12%;">
                                        <span>Quantidade</span>
                                        <input type="hidden" class="form-control  valor" name="quantidade[]" />
                                    </td>
                                    <td class="item-link" style="width: 5%;">Remover</td>
                                </tr>
                                <?php foreach ($this->produtosRemessa as $itemRemessa): ?>
                                    <tr class="itensPedidos" >
                                        <td class="identificador-produto" id="<?php echo $itemRemessa->getProduto()->getId(); ?>" style="width: 5%;">
                                            <?php echo $itemRemessa->getProduto()->getId(); ?>
                                        </td>
                                        <td class="item-nome" style="width: 45%;" >
                                            <span><?php echo $itemRemessa->getProduto()->getNome(); ?></span>
                                            <input type="hidden" class="id-produto" value="<?php echo $itemRemessa->getProduto()->getId(); ?>" name="produto[]" />
                                        </td>
                                        <td class="item-preco-custo" style="width: 12%; ">
                                            <span></span>
                                            <input type="text" class="form-control valor preco-custo" name="precoCusto[]" value="<?php echo number_format($itemRemessa->getPrecoCusto(), 2, ',', '.'); ?>" />
                                        </td>
                                        <td class="item-preco-cliente" style="width: 12%;">
                                            <span></span>
                                            <input type="text" class="form-control valor preco-cliente" name="precoCliente[]" value="<?php echo number_format($itemRemessa->getPrecoCliente(), 2, ',', '.'); ?>"/>
                                        </td>
                                        <td class="item-quantidade" style="width: 12%;">
                                            <span></span>
                                            <input type="text" class="form-control  valor quantidade" name="quantidade[]" value="<?php echo $itemRemessa->getQuantidade(); ?>" />
                                        </td>
                                        <td class="item-link" style="width: 5%;">
                                            <a href='#' class='removerItem' data='<?php echo $itemRemessa->getProduto()->getId(); ?>'>Remover</a>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="2" style="font-weight: bold;" >Preço Total C.:
                                        <span id="preco-custo-total" style="background-color: #eee;padding: 2px;"></span>
                                    </td>
                                    <td colspan="2" style="font-weight: bold;" >Preço Total V.:
                                        <span id="preco-cliente-total" style="background-color: #eee;padding: 2px;"></span>
                                    </td>
                                    <td colspan="2">
                                        <div class="col-xs-12">
                                            Data de devolução :
                                            <input id="dataDevolucao" name="dataDevolucao" type="text" value="<?php
                                            echo !is_null($this->infoRemessa->getDataDevolucao())?
                                                $this->infoRemessa->getDataDevolucao()->format("d/m/Y"):""; ?>" class="form-control" />
                                        </div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <button type="submit" id="gravarRemessa" disabled="disabled" class="btn btn-primary">Salvar</button>
                        <a href="#" id="voltar" class="btn btn-default">Voltar</a>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        <?php if(!is_null($this->infoRemessa->getDataDevolucao())): ?>
        $("#gravarRemessa").prop('disabled', false);
        <?php endif; ?>
        var produtos = <?php echo $this->produtosFornecedorJSON; ?>;
        $(".quantidade").maskMoney({showSymbol:false, precision: 0, decimal:",", thousands:""});
        $('#dataDevolucao').mask("99/99/9999");
        $('#dataDevolucao').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            orientation: "top right"
        }).on("changeDate", function(e) {
            validarDataEntrega();
        });

        $(document.body).on('click', '.removerItem', function(){
            linhaRemover = $(this).parent().parent();
            linhaRemover.remove();
            var totalCusto = 0;
            var totalCliente = 0;
            var validForm = true;

            $(".preco-custo").each(function(index, valor){
                var precoCusto = valor.value;
                precoCusto = convertValorMoedaEmFloat(precoCusto);
                var precoCliente = convertValorMoedaEmFloat($(".preco-cliente")[index].value );
                var quantidade = parseInt( $(".quantidade")[index].value);
                var totalPrecoCustoParcial = 0;
                var totalPrecoClienteParcial = 0;
                var totalPrecoCusto = 0;
                var totalPrecoCliente = 0;
                if(precoCusto != 0 && precoCliente != 0 && quantidade ){
                    totalPrecoCustoParcial = precoCusto * quantidade;
                    totalPrecoClienteParcial = precoCliente * quantidade;
                    totalCusto = totalCusto + totalPrecoCustoParcial;
                    totalCliente = totalCliente + totalPrecoClienteParcial;
                    $("#preco-custo-total").html(formataNumeroMoeda(totalCusto));
                    $("#preco-cliente-total").html(formataNumeroMoeda(totalCliente));
                    $("#gravarRemessa").removeAttr('disabled');

                }else{
                    validForm = false;
                    $("#gravarRemessa").prop('disabled', 'disabled');
                    return validForm;

                }

            });

            if(validForm == true && $("#dataDevolucao").val() != ""){
                $("#gravarRemessa").prop('disabled', false);
            }else{
                $("#gravarRemessa").prop('disabled', 'disabled');
            }

            if($(".itensPedidos").length == 1){
                $("#preco-custo-total").html(formataNumeroMoeda(0));
                $("#preco-cliente-total").html(formataNumeroMoeda(0));
                $("#gravarRemessa").prop('disabled', 'disabled');
            }
            return false;
        });

        $(".preco-custo, .preco-cliente").maskMoney({showSymbol:true, symbol:"R$ ", decimal:",", thousands:"."});

        $("#adicionarItem").click(function(){
            var indiceProduto = $("#produtoAdicionar").val();

            if(indiceProduto != "") {
                // Pegando as informações do Produto
                var InfoProdutoSelecionado = produtos[indiceProduto];
                if( $("#"+InfoProdutoSelecionado.produto_id)[0] ){
                    $("#msg-validate").addClass("col-md-12 alert alert-danger");
                    $("#msg-validate").html("Produto já  selecionado, altere apenas suas informações de entrada");
                    $("#"+InfoProdutoSelecionado.produto_id+" .item-preco-custo input[type='text']").focus();
                }else{
                    $("#msg-validate").html("");
                    $("#msg-validate").removeClass("col-md-12 alert alert-danger");
                    novaLinhaItem = $(".itensPedidos:first").clone();
                    novaLinhaItem.attr('id', InfoProdutoSelecionado.produto_id);
                    novaLinhaItem.find(".identificador-produto").html(InfoProdutoSelecionado.produto_id);
                    novaLinhaItem.find(".id-produto").val(InfoProdutoSelecionado.produto_id);
                    novaLinhaItem.find(".item-nome span").html(InfoProdutoSelecionado.produto);
                    novaLinhaItem.find(".item-preco-custo span").html("");
                    novaLinhaItem.find(".item-preco-custo input").prop('type', 'text');
                    novaLinhaItem.find(".item-preco-custo input").addClass('preco-custo');

                    novaLinhaItem.find(".item-preco-cliente span").html("");
                    novaLinhaItem.find(".item-preco-cliente input").prop('type', 'text');
                    novaLinhaItem.find(".item-preco-cliente input").addClass('preco-cliente');
                    novaLinhaItem.find(".item-quantidade span").html("");
                    novaLinhaItem.find(".item-quantidade input").prop('type', 'text');
                    novaLinhaItem.find(".item-quantidade input").addClass('quantidade');
                    novaLinhaItem.find(".item-link").html("<a href='#' class='removerItem' data='" + InfoProdutoSelecionado.produto_id + "'>Remover</a>");
                    novaLinhaItem.find(".preco-custo, .preco-cliente").maskMoney({showSymbol:true, symbol:"R$ ", decimal:",", thousands:"."});
                    novaLinhaItem.find(".quantidade").maskMoney({showSymbol:false, precision: 0, decimal:",", thousands:"."});
                    // Insere a linha clonada
                    novaLinhaItem.insertAfter(".itensPedidos:last");
                    $("#gravarRemessa").prop('disabled', 'disabled');

                }

            }

        });


        $(document.body).on('blur', '.valor', function(){

            var totalCusto = 0;
            var totalCliente = 0;
            var validForm = true;
            $(".preco-custo").each(function(index, valor){
                var precoCusto = valor.value;
                precoCusto = convertValorMoedaEmFloat(precoCusto);
                var precoCliente = convertValorMoedaEmFloat($(".preco-cliente")[index].value );
                var quantidade = parseInt( $(".quantidade")[index].value);
                var totalPrecoCustoParcial = 0;
                var totalPrecoClienteParcial = 0;
                var totalPrecoCusto = 0;
                var totalPrecoCliente = 0;
                if(precoCusto != 0 && precoCliente != 0 && quantidade ){
                    totalPrecoCustoParcial = precoCusto * quantidade;
                    totalPrecoClienteParcial = precoCliente * quantidade;
                    totalCusto = totalCusto + totalPrecoCustoParcial;
                    totalCliente = totalCliente + totalPrecoClienteParcial;
                    $("#preco-custo-total").html(formataNumeroMoeda(totalCusto));
                    $("#preco-cliente-total").html(formataNumeroMoeda(totalCliente));
                    $("#gravarRemessa").removeAttr('disabled');

                }else{
                    validForm = false;
                    $("#gravarRemessa").prop('disabled', 'disabled');
                    return validForm;

                }
            });

            if(validForm == true && $("#dataDevolucao").val() != ""){
                $("#gravarRemessa").prop('disabled', false);
            }else{
                $("#gravarRemessa").prop('disabled', 'disabled');
            }
        });

        $(document.body).on('blur', '#dataDevolucao', function(){
            validarDataEntrega();
        });

        function convertValorMoedaEmFloat(stringValor)
        {
            //console.log(value); return false;
            var valor = "";
            //valor = stringValor.replace("R$","");
            valor = stringValor;
            if( valor.search(".") != -1 ){
                valor = stringValor.replace(/[\.]/g, '');
            }
            if( valor.search(" ") != -1 ){
                valor = valor.replace(" ", "");
            }
            if( valor.search(",") != -1 ){
                valor = valor.replace(',', '.');
            }
            if(valor == ""){
                return 0
            }else{
                return parseFloat(valor);
            }
        }

        function validarDataEntrega()
        {
            if($("#dataDevolucao").val() != ""){
                var validar = true;
                $(".valor").each(function(){
                    var result = $(this).val();
                    var valor = 0;
                    if($(this).attr('type') != "hidden"){
                        if(result.search(",") == -1){
                            valor = parseFloat( $(this).val() );
                        }else{
                            valor = parseFloat( convertValorMoedaEmFloat($(this).val() ) ) ;
                        }
                        if(valor == 0 || isNaN(valor)){
                            validar = false;
                                return validar;
                        }
                    }
                });
                if(validar == true){
                    $("#gravarRemessa").prop('disabled', false);
                }else{
                    $("#gravarRemessa").prop('disabled', 'disabled');
                }

            }else{
                $("#gravarRemessa").prop('disabled', 'disabled');
            }
        }

        function formataNumeroMoeda (num) {
            var numero = num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1 ");

            numero =  numero.replace('.', ',');
            var res = numero.split(",",3);
            if(res[res.length - 1].length == 1 && res.length != 1){
                //console.log("entrou aqui");
                res[res.length - 1] = res[res.length - 1] + "0";
                numero = res.join(",");
            }
            if(res.length == 1){
                //console.log("entro aqui tambem");
                res[res.length - 1] = res[res.length - 1] + ",00";
                numero = res.join(",");
            }


            numero =  'R$ '+numero.replace(/\s/g, '.');
            return numero;
        }


        var totalCusto = 0;
        var totalCliente = 0;
        var validForm = true;
        $(".preco-custo").each(function(index, valor){
            var precoCusto = valor.value;
            precoCusto = convertValorMoedaEmFloat(precoCusto);
            var precoCliente = convertValorMoedaEmFloat($(".preco-cliente")[index].value );
            var quantidade = parseInt( $(".quantidade")[index].value);
            var totalPrecoCustoParcial = 0;
            var totalPrecoClienteParcial = 0;
            var totalPrecoCusto = 0;
            var totalPrecoCliente = 0;
            if(precoCusto != 0 && precoCliente != 0 && quantidade ){
                totalPrecoCustoParcial = precoCusto * quantidade;
                totalPrecoClienteParcial = precoCliente * quantidade;
                totalCusto = totalCusto + totalPrecoCustoParcial;
                totalCliente = totalCliente + totalPrecoClienteParcial;
                $("#preco-custo-total").html(formataNumeroMoeda(totalCusto));
                $("#preco-cliente-total").html(formataNumeroMoeda(totalCliente));
                $("#gravarRemessa").removeAttr('disabled');

            }else{
                validForm = false;
                $("#gravarRemessa").prop('disabled', 'disabled');
                return validForm;

            }

        });

        if(validForm == true && $("#dataDevolucao").val() != ""){
            $("#gravarRemessa").prop('disabled', false);
        }else{
            $("#gravarRemessa").prop('disabled', 'disabled');
        }
    });
</script>