<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
$submit = $form->get('submit');
$submit->setLabel('Pesquisar');

?>
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Remessas de fornecedores
            </div>

            <div class="panel-body">
                <?php if($this->flashMessages): ?>
                    <div class="row">
                        <?php foreach($this->flashMessages as $namespace => $messages): ?>
                        <div class=" col-xs-12 alert alert-<?php echo $namespace;?>">
                            <ul>
                                <?php foreach ($messages as $msg): ?>
                                    <?php echo $msg; ?>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>

                <div class="row col-xs-12" style="margin-bottom: 10px;">
                    <a href="<?php echo $this->url('remessa.define_provider'); ?>" class="btn btn-primary">
                        <i class="fa fa-plus-circle"></i> Nova
                    </a>
                </div>

                <?php echo $this->form()->openTag($this->form); ?>
                <div class="row ">
                    <div class="col-md-6">
                        <label>Nome Fantasia</label>
                        <?php echo $this->formElement($form->get('nome')); ?>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('dataCadastroDe')); ?>
                            <?php echo $this->formElement($form->get('dataCadastroDe')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('dataCadastroAte')); ?>
                            <?php echo $this->formElement($form->get('dataCadastroAte')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('status')); ?>
                            <?php echo $this->formElement($form->get('status')); ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="formgroup" style="margin-bottom: 20px;margin-top: 20px;">
                            <?php echo $this->formElement($form->get('submit')); ?>
                        </div>
                    </div>
                </div>
                <?php $this->form()->closeTag(); ?>

                <div class="row">

                    <div class="col-xs-12">
                        <table class="table table-bordered" id="listDataTable" >
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th style="width: 40%;">Fornecedor</th>
                                    <th>Valor T. Custo</th>
                                    <th>Data de Cadastro</th>
                                    <th>Status</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($this->remessas as $remessa): ?>
                            <tr>
                                <td><?php echo $remessa->getId(); ?></td>
                                <td><?php echo $remessa->getFornecedor()->getNomeFantasia();?></td>
                                <td><?php echo number_format($remessa->getValorTotal(), 2, ',', '.');?></td>
                                <td><?php echo $remessa->getDataCadastro()->format('d/m/Y');?></td>
                                <td><?php echo $remessa->getStatus();?></td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Ações <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="<?php echo $this->url('remessa.edit_itens', ['remessa' => $remessa->getId()]); ?>">Editar Remessa</a></li>
                                            <li><a href="<?php echo $this->url('remessa.set_status', ['remessa' => $remessa->getId()]); ?>">Alterar Status</a></li>
                                            <li><a href="<?php echo $this->url('remessa.define_plots', ['remessa' => $remessa->getId()]); ?>">Editar Parcelas</a></li>
                                            <li><a href="<?php echo $this->url('parcela-remessa.pay_order_plots', ['remessa' => $remessa->getId()]); ?>">Quitar Parcelas</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="<?php echo $this->url('remessa.show', ['remessa' => $remessa->getId()]); ?>">Ver Detalhes remessa</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="panel-footer">
                <a href="#" id="voltar" class="btn btn-default">Voltar</a>
            </div>

        </div>
    </div>
</div>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.fixedHeader.js"></script>
<script src="/js/dataTables.tableTools.js"></script>
<script src="/js/jquery.dataTables.bootstrap.js"></script>

<!-- this page specific inline scripts -->
<script>
    $(document).ready(function() {

        var tableFixed = $('#listDataTable').dataTable({
            'info': false,
            'pageLength': 10,
            "aLengthMenu": [[5, 10, 25, 50, 100, 250, 500, -1], [5, 10, 25, 50, 100, 250, 500, "Todos"]],
            "order": [[ 0, "desc" ]],
            "oLanguage": {
                "sSearch": "Filtro: ",
                "sLengthMenu": "Total de registros por pagina: _MENU_ "
            }
        });

        //new $.fn.dataTable.FixedHeader( tableFixed );
    });
</script>