<style>
    h4:not(.modal-title){
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }

    .itensPedidos{
        text-transform: uppercase;
        font-size: 0.875em;
    }
    .itensPedidos td {
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Atualização de pedido - Registrar entrega
            </div>

                <div class="panel-body">

                    <?php if($this->flashMessages): ?>
                        <div class="row">
                            <div class=" col-xs-12 alert alert-info">
                                <ul>
                                    <?php foreach ($this->flashMessages as $msg): ?>
                                        <?php echo $msg; ?>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        </div>
                    <?php endif; ?>


                    <div class="row">

                        <h4>Definições Gerais</h4>
                        <div class="col-md-12">
                            <label>Fornecedor:</label>
                            <?php echo $this->infoRemessa->getFornecedor()->getNomeFantasia(); ?>
                        </div>
                        <div class="col-md-4">
                            <label>Valor Total:</label>
                            R$ <?php echo number_format($this->infoRemessa->getValorTotal(), 2, ',', '.');?>
                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <label>Data de Acerto:</label>
                            <?php echo !is_null($this->infoRemessa
                                ->getDataQuitacao())?$this->infoRemessa->getDataQuitacao()->format("d/m/Y"):""; ?>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <a href="<?php echo $this->url('remessa.set_status', ['remessa' => $this->infoRemessa->getId()]);?>"
                               class="btn btn-success" >
                                Alterar Status
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="<?php echo $this->url('parcela-remessa.pay_order_plots', ['remessa' => $this->infoRemessa->getId()]);?>"
                               class="btn btn-primary" >
                                Quitar Parcelas
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="<?php echo $this->url('remessa.edit_itens', ['remessa' => $this->infoRemessa->getId()]);?>"
                               class="btn btn-default" >
                                Editar Remessa
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="<?php echo $this->url('remessa.define_plots', ['remessa' => $this->infoRemessa->getId()]);?>"
                               class="btn btn-info" >
                                Editar Parcelas
                            </a>
                        </div>
                    </div>


                    <div class="row">
                        <h4>Itens da Remessa</h4>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Nome do Produto</th>
                                    <th style="width: 10%;">Q. Total</th>
                                    <th style="width: 10%;">Q. Rest.</th>
                                    <th style="width: 10%;">V. Custo</th>
                                    <th style="width: 10%;">V. Venda</th>
                                    <th style="width: 10%;">V. T. Lucro</th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach($this->itensRemessa as $itemRemessa): ?>
                                    <tr>
                                        <td><?php echo $itemRemessa->getProduto()->getNome();?></td>
                                        <td><?php echo $itemRemessa->getQuantidade();?></td>
                                        <td><?php echo $itemRemessa->getQuantParcial();?></td>
                                        <td>R$ <?php echo number_format($itemRemessa->getPrecoCusto(), 2, ',', '.');?></td>
                                        <td>R$ <?php echo number_format($itemRemessa->getPrecoCliente(), 2, ',', '.');?></td>
                                        <td>R$ <?php echo number_format($itemRemessa->getPrecoCliente() *
                                                $itemRemessa->getQuantidade(), 2, ',', '.');?>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <h4>Parcelas do Pedido</h4>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Forma de Pagamento</th>
                                    <th style="width: 12%;">D. Vencimento</th>
                                    <th style="width: 12%;">D. Quitação</th>
                                    <th style="width: 12%;">Situação</th>
                                    <th style="width: 15%;">Valor</th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach($this->infoParcelas as $itemParcela):
                                    ?>
                                    <tr>
                                        <td><?php echo $itemParcela->getMovFinanceiro()->getFormaPgto()->getDescricao();?></td>
                                        <td><?php echo is_null($itemParcela->getMovFinanceiro()->getDataQuitacao())? "" :
                                                $itemParcela->getMovFinanceiro()->getDataQuitacao()->format('d/m/Y');?></td>
                                        <td><?php echo $itemParcela->getMovFinanceiro()->getDataVencimento()->format('d/m/Y');?></td>
                                        <td><?php echo $itemParcela->getMovFinanceiro()->getStatus() == "A"? "Em Aberto" : "Quitada";?></td>
                                        <td>R$ <?php echo number_format($itemParcela->getMovFinanceiro()->getValor(), 2, ',', '.');?></td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>




                </div>
                <div class="panel-footer">
                    <a href="#" id="voltar" class="btn btn-default">Voltar</a>
                </div>



        </div>
    </div>
</div>