<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
$submit = $form->get('submit');
$submit->setLabel('Pesquisar');
$submit->setAttribute('class', 'btn btn-success');
?>
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Relatório contas a receber
            </div>

            <div class="panel-body">
                <?php if($this->flashMessages): ?>
                    <div class="row">
                        <?php foreach($this->flashMessages as $namespace => $messages): ?>
                            <div class=" col-xs-12 alert alert-<?php echo $namespace;?>">
                                <ul>
                                    <?php foreach ($messages as $msg): ?>
                                        <?php echo $msg; ?>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>


                <?php echo $this->form()->openTag($this->form); ?>
                <div class="row linha-form">
                    <div class="col-md-6">
                        <?php echo $this->formLabel($form->get('descricao')); ?>
                        <?php echo $this->formElement($form->get('descricao')); ?>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('dataVencimentoDe')); ?>
                            <?php echo $this->formElement($form->get('dataVencimentoDe')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('dataVencimentoAte')); ?>
                            <?php echo $this->formElement($form->get('dataVencimentoAte')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('valor')); ?>
                            <?php echo $this->formElement($form->get('valor')); ?>
                        </div>
                    </div>
                </div>

                <div class="row linha-form">

                    <div class="col-md-4">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('formaPgto')); ?>
                            <?php echo $this->formElement($form->get('formaPgto')); ?>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('planoConta')); ?>
                            <?php echo $this->formElement($form->get('planoConta')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('natureza')); ?>
                            <?php echo $this->formElement($form->get('natureza')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('status')); ?>
                            <?php echo $this->formElement($form->get('status')); ?>
                        </div>
                    </div>

                </div>
                <div class="row linha-form">
                    <div class="col-md-2">
                        <div class="formgroup" style="margin-bottom: 20px;margin-top: 20px;">
                            <?php echo $this->formElement($form->get('submit')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup" style="margin-bottom: 20px;margin-top: 20px;">
                            <button type="submit" name="imprimir" id="btnImprimir" class="btn btn-primary">Imprimir</button>
                        </div>
                    </div>
                </div>
                <?php $this->form()->closeTag(); ?>

                <div class="row">

                    <div class="col-xs-12">
                        <table class="table table-bordered" id="listDataTable" >
                            <thead>
                            <tr>
                                <th style="width: 40%;">Descrição</th>
                                <th style="width: 10%;">Forma de Pagamento</th>
                                <th style="width: 10%;">Plano de conta</th>
                                <th style="width: 8%;">Data Venc.</th>

                                <th style="width: 8%;">Nat.</th>
                                <th style="width: 8%;">Status</th>
                                <th>Valor</th>

                            </tr>
                            </thead>
                            <tbody>
                            <?php
                            $valorTotal = 0;
                            foreach ($this->contas as $conta): ?>
                                <tr>
                                    <td><?php echo $conta->getDescricao(); ?></td>
                                    <td><?php echo $conta->getFormaPgto()->getDescricao();?></td>
                                    <td><?php echo $conta->getPlanoConta()->getDescricao();?></td>
                                    <td><?php echo $conta->getDataVencimento()->format('d/m/Y');?></td>

                                    <td><?php echo array_search( $conta->getNatureza(),
                                            [ "Despesa" => "D", "Receita" => "R", "Retirada" => "S"]) ;?></td>
                                    <td><?php echo ($conta->getStatus() == "A")? "Em Aberto" : "Quitada";?></td>
                                    <td><?php echo "R$ " .number_format( $conta->getValor() , 2, ',', '.');?></td>
                                </tr>
                                <?php
                                $valorTotal += $conta->getValor();
                            endforeach; ?>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="5">Valor Total</th>
                                <th colspan="2" style="text-align: right;"><?php echo "R$ " .number_format( $valorTotal , 2, ',', '.');?></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
            <div class="panel-footer">
                <a href="#" id="voltar" class="btn btn-default">Voltar</a>
            </div>

        </div>
    </div>
</div>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.fixedHeader.js"></script>
<script src="/js/dataTables.tableTools.js"></script>
<script src="/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>

<!-- this page specific inline scripts -->
<script>
    $(document).ready(function() {

        var tableFixed = $('#listDataTable').dataTable({
            'info': false,

            <?php if(isset($_REQUEST['imprimir'])): ?>
            'pageLength': -1,
            <?php else: ?>
            'pageLength': 10,
            <?php endif;?>

            "aLengthMenu": [[2, 10, 25, 50, 100, 250, 500, -1], [2, 10, 25, 50, 100, 250, 500, "Todos"]],
            "oLanguage": {
                "sSearch": "Filtro: ",
                "sLengthMenu": "Total de registros por pagina: _MENU_ "
            }
        });

        // new $.fn.dataTable.FixedHeader( tableFixed );

        <?php if(isset($_REQUEST['imprimir'])): ?>
        window.print();
        <?php endif; ?>

        $("#valor").maskMoney({showSymbol:true, symbol:"R$ ", decimal:",", thousands:"."});
    });
</script>