<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
$submit = $form->get('submit');
$submit->setLabel('Pesquisar');
$submit->setAttribute('class', 'btn btn-success');
?>
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Relatório contas a receber
            </div>

            <div class="panel-body">
                <?php if($this->flashMessages): ?>
                    <div class="row">
                        <?php foreach($this->flashMessages as $namespace => $messages): ?>
                            <div class=" col-xs-12 alert alert-<?php echo $namespace;?>">
                                <ul>
                                    <?php foreach ($messages as $msg): ?>
                                        <?php echo $msg; ?>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>


                <?php echo $this->form()->openTag($this->form); ?>
                <div class="row linha-form">
                    <div class="col-md-6">
                        <?php echo $this->formLabel($form->get('descricao')); ?>
                        <?php echo $this->formElement($form->get('descricao')); ?>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('dataVencimentoDe')); ?>
                            <?php echo $this->formElement($form->get('dataVencimentoDe')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('dataVencimentoAte')); ?>
                            <?php echo $this->formElement($form->get('dataVencimentoAte')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('valor')); ?>
                            <?php echo $this->formElement($form->get('valor')); ?>
                        </div>
                    </div>
                </div>

                <div class="row linha-form">

                    <div class="col-md-4">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('formaPgto')); ?>
                            <?php echo $this->formElement($form->get('formaPgto')); ?>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('planoConta')); ?>
                            <?php echo $this->formElement($form->get('planoConta')); ?>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('status')); ?>
                            <?php echo $this->formElement($form->get('status')); ?>
                        </div>
                    </div>

                </div>
                <div class="row linha-form">
                    <div class="col-md-2">
                        <div class="formgroup" style="margin-bottom: 20px;margin-top: 20px;">
                            <?php echo $this->formElement($form->get('submit')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup" style="margin-bottom: 20px;margin-top: 20px;">
                            <button type="submit" name="imprimir" id="btnImprimir" class="btn btn-primary">Imprimir</button>
                        </div>
                    </div>
                </div>
                <?php $this->form()->closeTag(); ?>

                <div class="row">

                    <div class="col-xs-12">

                        <h3>Despesas</h3>

                        <table class="table table-bordered" id="listDataTable1" >
                            <thead>
                            <tr>
                                <th style="width: 40%;">Descrição</th>
                                <th style="width: 10%;">Forma de Pagamento</th>
                                <th style="width: 10%;">Plano de conta</th>
                                <th style="width: 8%;">Data Venc.</th>

                                <th style="width: 8%;">Nat.</th>
                                <th style="width: 8%;">Status</th>
                                <th>Valor</th>

                            </tr>
                            </thead>
                            <tbody>
                            <?php
                            $valorTotalDespesas = 0;
                            foreach ($this->despesas as $despesa): ?>
                                <tr>
                                    <td><?php echo $despesa->getDescricao(); ?></td>
                                    <td><?php echo $despesa->getFormaPgto()->getDescricao();?></td>
                                    <td><?php echo $despesa->getPlanoConta()->getDescricao();?></td>
                                    <td><?php echo $despesa->getDataVencimento()->format('d/m/Y');?></td>

                                    <td><?php echo array_search( $despesa->getNatureza(),
                                            [ "Despesa" => "D", "Receita" => "R", "Retirada" => "S"]) ;?></td>
                                    <td><?php echo ($despesa->getStatus() == "A")? "Em Aberto" : "Quitada";?></td>
                                    <td><?php echo "R$ " .number_format( $despesa->getValor() , 2, ',', '.');?></td>
                                </tr>
                                <?php
                                $valorTotalDespesas += $despesa->getValor();
                            endforeach; ?>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="5">Valor Total</th>
                                <th colspan="2" style="text-align: right;"><?php echo "R$ " .number_format( $valorTotalDespesas , 2, ',', '.');?></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            <div class="row">


                <div class="col-xs-12">

                    <h3>Receitas</h3>

                    <table class="table table-bordered" id="listDataTable2" >
                        <thead>
                        <tr>
                            <th style="width: 40%;">Descrição</th>
                            <th style="width: 10%;">Forma de Pagamento</th>
                            <th style="width: 10%;">Plano de conta</th>
                            <th style="width: 8%;">Data Venc.</th>

                            <th style="width: 8%;">Nat.</th>
                            <th style="width: 8%;">Status</th>
                            <th>Valor</th>

                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        $valorTotalReceitas= 0;
                        foreach ($this->receitas as $receita): ?>
                            <tr>
                                <td><?php echo $receita->getDescricao(); ?></td>
                                <td><?php echo $receita->getFormaPgto()->getDescricao();?></td>
                                <td><?php echo $receita->getPlanoConta()->getDescricao();?></td>
                                <td><?php echo $receita->getDataVencimento()->format('d/m/Y');?></td>

                                <td><?php echo array_search( $receita->getNatureza(),
                                        [ "Despesa" => "D", "Receita" => "R", "Retirada" => "S"]) ;?></td>
                                <td><?php echo ($receita->getStatus() == "A")? "Em Aberto" : "Quitada";?></td>
                                <td><?php echo "R$ " .number_format( $receita->getValor() , 2, ',', '.');?></td>
                            </tr>
                            <?php
                            $valorTotalReceitas += $receita->getValor();
                        endforeach; ?>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="5">Valor Total</th>
                            <th colspan="2" style="text-align: right;"><?php echo "R$ " .number_format( $valorTotalReceitas , 2, ',', '.');?></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>


            <div class="row">

                <div class="col-xs-12">
                    <h3>Retiradas</h3>
                    <table class="table table-bordered" id="listDataTable3" >
                        <thead>
                        <tr>
                            <th style="width: 40%;">Descrição</th>
                            <th style="width: 10%;">Forma de Pagamento</th>
                            <th style="width: 10%;">Plano de conta</th>
                            <th style="width: 8%;">Data Venc.</th>

                            <th style="width: 8%;">Nat.</th>
                            <th style="width: 8%;">Status</th>
                            <th>Valor</th>

                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        $valorTotalRetiradas= 0;
                        foreach ($this->retiradas as $retirada): ?>
                            <tr>
                                <td><?php echo $retirada->getDescricao(); ?></td>
                                <td><?php echo $retirada->getFormaPgto()->getDescricao();?></td>
                                <td><?php echo $retirada->getPlanoConta()->getDescricao();?></td>
                                <td><?php echo $retirada->getDataVencimento()->format('d/m/Y');?></td>

                                <td><?php echo array_search( $retirada->getNatureza(),
                                        [ "Despesa" => "D", "Receita" => "R", "Retirada" => "S"]) ;?></td>
                                <td><?php echo ($retirada->getStatus() == "A")? "Em Aberto" : "Quitada";?></td>
                                <td><?php echo "R$ " .number_format( $retirada->getValor() , 2, ',', '.');?></td>
                            </tr>
                            <?php
                            $valorTotalRetiradas += $retirada->getValor();
                        endforeach; ?>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="5">Valor Total</th>
                            <th colspan="2" style="text-align: right;"><?php echo "R$ " .number_format( $valorTotalRetiradas , 2, ',', '.');?></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3>Resumo Geral</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Total de Despesas</th>
                                <th>Total de Receitas</th>
                                <th>Total de retiradas</th>
                                <th>Saldo atual</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><?php echo "R$ " .number_format( $valorTotalDespesas , 2, ',', '.');?></td>
                                <td><?php echo "R$ " .number_format( $valorTotalReceitas , 2, ',', '.');?></td>
                                <td><?php echo "R$ " .number_format( $valorTotalRetiradas , 2, ',', '.');?></td>
                                <td><?php echo "R$ " .number_format( $valorTotalReceitas - $valorTotalDespesas - $valorTotalRetiradas , 2, ',', '.');?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel-footer">

                <a href="#" id="voltar" class="btn btn-default">Voltar</a>
            </div>

        </div>
    </div>
</div>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.fixedHeader.js"></script>
<script src="/js/dataTables.tableTools.js"></script>
<script src="/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>

<!-- this page specific inline scripts -->
<script>
    $(document).ready(function() {

        var tableFixed = $('#listDataTable1, #listDataTable2, #listDataTable3').dataTable({
            'info': false,

            <?php if(isset($_REQUEST['imprimir'])): ?>
            'pageLength': -1,
            <?php else: ?>
            'pageLength': 10,
            <?php endif;?>

            "aLengthMenu": [[2, 10, 25, 50, 100, 250, 500, -1], [2, 10, 25, 50, 100, 250, 500, "Todos"]],
            "oLanguage": {
                "sSearch": "Filtro: ",
                "sLengthMenu": "Total de registros por pagina: _MENU_ "
            }
        });

        // new $.fn.dataTable.FixedHeader( tableFixed );

        <?php if(isset($_REQUEST['imprimir'])): ?>
            window.print();
        <?php endif; ?>

        $('.data').mask("99/99/9999");
        $('.data').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            orientation: "top right"
        });

        $("#valor").maskMoney({showSymbol:true, symbol:"R$ ", decimal:",", thousands:"."});

    });
</script>