<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css" />
<style>
        h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }

    .itensPedidos{
        text-transform: uppercase;
        font-size: 0.875em;
    }
    .itensPedidos td {
        font-weight: bold;
    }

</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Cancelamento de pedido - Registrar entrega
                </div>

                    <div class="panel-body">

                        <?php if($this->flashMessages): ?>
                            <div class="row">
                                <div class=" col-xs-12 alert alert-info">
                                    <ul>
                                        <?php foreach ($this->flashMessages as $msg): ?>
                                            <?php echo $msg; ?>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            </div>
                        <?php endif; ?>


                        <div class="row">

                            <h4 style="border-bottom: 2px solid #b0bec5;margin-left: 10px;">Definições Gerais</h4>
                            <div class="col-md-12">
                                <label>Cliente:</label>
                                <?php echo $this->infoPedido->getCliente()->getNome(); ?>
                            </div>
                            <div class="col-md-4">
                                <label>Valor Total:</label>
                                R$ <?php echo number_format($this->infoPedido->getValorTotal(), 2, ',', '.');?>
                            </div>
                            <div class="col-md-4">
                                <label>Desconto:</label>
                                R$ <?php echo number_format($this->infoPedido->getDesconto(), 2, ',', '.');?>
                            </div>
                            <div class="col-md-4">
                                <label>Data de Entrega:</label>
                                <?php echo !is_null($this->infoPedido
                                    ->getDataEntrega())?$this->infoPedido->getDataEntrega()->format("d/m/Y"):""; ?>
                            </div>
                        </div>


                        <div class="row">
                            <h4>Itens do Pedido</h4>
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Nome do Produto</th>
                                        <th style="width: 15%;">Quant.</th>
                                        <th style="width: 15%;">Valor Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php foreach($this->itensPedido as $itemPedido): ?>
                                        <tr>
                                            <td><?php echo $itemPedido->getProduto()->getNome();?></td>
                                            <td><?php echo $itemPedido->getQuantidade();?></td>
                                            <td>R$ <?php echo number_format($itemPedido->getValor(), 2, ',', '.');?></td>
                                        </tr>
                                    <?php endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <h4>Parcelas do Pedido</h4>
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Forma de Pagamento</th>
                                        <th style="width: 15%;">Valor</th>
                                        <th style="width: 15%;">Vencimento</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php foreach($this->infoParcelas as $itemParcela):
                                        ?>
                                        <tr>
                                            <td><?php echo $itemParcela->getMovFinanceiro()->getFormaPgto()->getDescricao();?></td>
                                            <td>R$ <?php echo number_format($itemParcela->getMovFinanceiro()->getValor(), 2, ',', '.');?></td>
                                            <td><?php echo $itemParcela->getMovFinanceiro()->getDataVencimento()->format('d/m/Y');?></td>
                                        </tr>
                                    <?php endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>




                    </div>
                    <div class="panel-footer">
                        <div class="form-group">

                        </div>
                    </div>



            </div>
        </div>
    </div>
</div>