<table style="width: 100%;">
    <tbody>
    <tr>
        <td>
            <p style="text-align: justify;line-height: 30px;">
                Olá, <strong><?php echo $this->infoPedido->getCliente()->getNome(); ?></strong><br/>
                Temos uma nova solicitação compra de itens aqui na <strong>Semi Joias LTDA</strong>, a solicitação foi
                realizada na data <strong><?php echo $this->infoPedido->getDataCadastro()->format("d/m/Y"); ?></strong>,
                ficou acordado que os itens do pedido serão entregues a você na data <strong>
                    <?php echo $this->infoPedido->getDataEntrega()->format('d/m/Y'); ?></strong>. <br/>
                Abaixo seguem os detalhes dos itens e pagamento do pedido:
            </p>
        </td>
    </tr>
    </tbody>
</table>

<table style="width: 100%;">
    <thead>
        <tr>
            <th>
                <div style="border-bottom: solid 1px #ddd; width: 100%;height: 35px;background-color: #f4f4f4;line-height:35px;font-size: 18px; border-top-left-radius: 5px; border-top-right-radius: 10px;">
                    <div style="margin-left: 10px;">Detalhamentos do Pedido Cadastrado - Cod.: <?php echo $this->infoPedido->getId(); ?></div>
                </div>
            </th>
        </tr>
    </thead>
</table>


<div class="row">

    <table class="table" style=" margin-left: 25px;margin-top: 20px;">
        <thead>
        <tr>
            <th style="border-top: none;padding-left: 0px;line-height: 10px;font-size: 20px;font-weight: 100;">
                Definições Gerais
            </th>
        </tr>
        </thead>

    </table>
    <div class="col-md-12">
        <p style="font-size: 17px;margin-left: 10px;">
            Cliente:
            <strong><?php echo $this->infoPedido->getCliente()->getNome(); ?></strong>
        </p>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Valor s/ Desc.</th>
                <th>Valor c/ Desc.</th>
                <th>Desconto</th>
                <th>Data de Cadastro</th>
                <th>Data de Entrega</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    R$ <?php echo number_format($this->infoPedido->getValorTotal() + $this->infoPedido->getDesconto(), 2, ',', '.');?>
                </td>
                <td>
                    R$ <?php echo number_format($this->infoPedido->getValorTotal(), 2, ',', '.');?>
                </td>
                <td>
                    R$ <?php echo number_format($this->infoPedido->getDesconto(), 2, ',', '.');?>
                </td>
                <td>
                    <?php echo !is_null($this->infoPedido
                        ->getDataCadastro())?$this->infoPedido->getDataCadastro()->format("d/m/Y"):""; ?>
                </td>
                <td>
                    <?php echo !is_null($this->infoPedido
                        ->getDataEntrega())?$this->infoPedido->getDataEntrega()->format("d/m/Y"):""; ?>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">

    <table class="table" style=" margin-left: 25px;">
        <thead>
        <tr>
            <th style="border-top: none;padding-left: 0px;line-height: 10px;font-size: 20px;font-weight: 100;">
                Itens do Pedido
            </th>
        </tr>
        </thead>

    </table>
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nome do Produto</th>
                <th style="width: 15%;">Quant.</th>
                <th style="width: 15%;">Valor Total</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($this->itensPedido as $itemPedido): ?>
                <tr>
                    <td><?php echo $itemPedido->getProduto()->getNome();?></td>
                    <td><?php echo $itemPedido->getQuantidade();?></td>
                    <td>R$ <?php echo number_format($itemPedido->getValor(), 2, ',', '.');?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <table class="table" style=" margin-left: 25px;">
        <thead>
        <tr>
            <th style="border-top: none;padding-left: 0px;line-height: 10px;font-size: 20px;font-weight: 100;">
                Parcelas do Pedido
            </th>
        </tr>
        </thead>

    </table>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Forma de Pagamento</th>
                <th style="width: 15%;">Valor</th>
                <th style="width: 15%;">Vencimento</th>
                <th style="width: 15%;">Situação</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($this->infoParcelas as $itemParcela):
                ?>
                <tr>
                    <td><?php echo $itemParcela->getMovFinanceiro()->getFormaPgto()->getDescricao();?></td>
                    <td>R$ <?php echo number_format($itemParcela->getMovFinanceiro()->getValor(), 2, ',', '.');?></td>
                    <td><?php echo $itemParcela->getMovFinanceiro()->getDataVencimento()->format('d/m/Y');?></td>
                    <td><?php echo $itemParcela->getMovFinanceiro()->getStatus() == "A" ? "Em Aberto" : "Quitada";?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>

<table style="width: 100%;">
    <tfoot>
        <tr>
            <th>
                <div style="border-bottom: solid 1px #ddd; width: 100%;height: 35px;background-color: #f4f4f4;
line-height:25px;font-size: 12px;border-bottom-left-radius: 9px; border-bottom-right-radius: 9px;
margin-bottom: -1px;">
                    <div style="margin-left: 10px;">&copy; <?php echo date('Y');?> Semi Jóias LTDA</div>
                </div>
            </th>
        </tr>
    </tfoot>
</table>
