<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary')->setLabel('Incluir');

?>

<?php $form->setAttribute('action', $this->url('movfinanceiro.create')); ?>
<?php $form->prepare(); ?>
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 50px;
        display: inline;
        height: 30px;
    }
    .radioOptions label input{
        line-height: 30px;

    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Cadastro de Movimento Financeiro
            </div>
            <?php echo $this->form()->openTag($this->form); ?>
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-6">
                        <?php $message = $this->formElementErrors($form->get('descricao'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('descricao')); ?>
                            <?php echo $this->formElement($form->get('descricao')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <?php $message = $this->formElementErrors($form->get('valor'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('valor')); ?>
                            <?php echo $this->formElement($form->get('valor')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <?php $message = $this->formElementErrors($form->get('formaPgto'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('formaPgto')); ?>
                            <?php echo $this->formElement($form->get('formaPgto')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4">
                        <?php $message = $this->formElementErrors($form->get('planoConta'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('planoConta')); ?>
                            <?php echo $this->formElement($form->get('planoConta')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <?php $message = $this->formElementErrors($form->get('dataVencimento'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('dataVencimento')); ?>
                            <?php echo $this->formElement($form->get('dataVencimento')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <?php $message = $this->formElementErrors($form->get('dataQuitacao'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('dataQuitacao')); ?>
                            <?php echo $this->formElement($form->get('dataQuitacao')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                    <div class="col-md-4 radioOptions">
                        <?php $message = $this->formElementErrors($form->get('natureza'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <p style="diplay:block;font-weight: 400;font-size: 0.875em;">Natureza</p>
                            <?php echo $this->formElement($form->get('natureza')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <?php echo $this->formButton($submit); ?>
                <a href="#" id="voltar" class="btn btn-default">Voltar</a>
            </div>
            <?php $this->form()->closeTag(); ?>


        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#valor").maskMoney({showSymbol:true, symbol:"R$ ", decimal:",", thousands:"."});
        $('.data').mask("99/99/9999");
        $('.data').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            orientation: "top right"
        });
    });

</script>