<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
$submit = $form->get('submit');
$submit->setLabel('Pesquisar');

?>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Lançamentos Contábeis
            </div>

            <div class="panel-body">
                <?php if($this->flashMessages): ?>
                    <div class="row">
                        <?php foreach($this->flashMessages as $namespace => $messages): ?>
                            <div class=" col-xs-12 alert alert-<?php echo $namespace;?>">
                                <ul>
                                    <?php foreach ($messages as $msg): ?>
                                        <?php echo $msg; ?>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>

                <div class="row col-xs-12" style="margin-bottom: 10px;">
                    <a href="<?php echo $this->url('movfinanceiro.create'); ?>" class="btn btn-primary">
                        <i class="fa fa-plus-circle"></i> Nova
                    </a>
                </div>

                <?php echo $this->form()->openTag($this->form); ?>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <?php echo $this->formLabel($form->get('descricao')); ?>
                            <?php echo $this->formElement($form->get('descricao')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('valor')); ?>
                            <?php echo $this->formElement($form->get('valor')); ?>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('formaPgto')); ?>
                            <?php echo $this->formElement($form->get('formaPgto')); ?>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('planoConta')); ?>
                            <?php echo $this->formElement($form->get('planoConta')); ?>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('natureza')); ?>
                            <?php echo $this->formElement($form->get('natureza')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('dataCadastroDe')); ?>
                            <?php echo $this->formElement($form->get('dataCadastroDe')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('dataCadastroAte')); ?>
                            <?php echo $this->formElement($form->get('dataCadastroAte')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('dataVencimentoDe')); ?>
                            <?php echo $this->formElement($form->get('dataVencimentoDe')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('dataVencimentoAte')); ?>
                            <?php echo $this->formElement($form->get('dataVencimentoAte')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('situacao')); ?>
                            <?php echo $this->formElement($form->get('situacao')); ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="formgroup">
                            <br/>
                            <?php echo $this->formElement($form->get('submit')); ?>
                        </div>
                    </div>
                </div>
                <?php $this->form()->closeTag(); ?>



                <div class="row" style="margin-top: 20px;">

                    <div class="col-xs-12">
                        <table class="table table-bordered" id="listDataTable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th style="width: 40%;">Descrição</th>
                                <th>Valor</th>
                                <th>Plano Conta</th>
                                <th>D. Cadastro</th>
                                <th>D. Vencimento</th>
                                <th>Sit.</th>
                                <th>Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($this->movFinanceiros as $movFinanceiro): ?>
                                <tr>
                                    <td><?php echo $movFinanceiro->getId(); ?></td>
                                    <td><?php echo $movFinanceiro->getDescricao();?></td>
                                    <td><?php echo number_format($movFinanceiro->getValor(), 2, ',', '.');?></td>
                                    <td><?php echo $movFinanceiro->getPlanoConta()->getDescricao();?></td>
                                    <td><?php echo $movFinanceiro->getdataCadastro()->format('d/m/Y');?></td>
                                    <td><?php echo $movFinanceiro->getdataVencimento()->format('d/m/Y');?></td>
                                    <td><?php echo $movFinanceiro->getStatus();?></td>
                                    <td>
                                        <!--<a href="<?php echo $this->url('movfinanceiro.update',['id' => $movFinanceiro->getId()]); ?>">Editar</a>-->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Ações <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="<?php echo $this->url('movfinanceiro.update',['id' => $movFinanceiro->getId()]); ?>">Editar</a></li>
                                                <li><a class="excluir-lancamento"
                                                       id="acao-remover-<?php echo $movFinanceiro->getId();?>"
                                                       data-codigo="<?php echo $movFinanceiro->getId();?>"
                                                       href="<?php echo $this->url('movfinanceiro.delete',
                                                           ['id' => $movFinanceiro->getId()]); ?>" >Excluir</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="panel-footer">
                <a href="#" id="voltar" class="btn btn-default">Voltar</a>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Confirmação de exclusão</h4>
            </div>
            <div class="modal-body">
                <p>
                    Excluir lançamentos contábeis pode influenciar nos valor quitados ou a quitar em pedido ou remessas de fornecedores,
                    tem certeza que deseja excluir o lançamento contábil com o código : <span id="codigo-lancamento" style="font-weight: bold"></span> ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="processarSolicitacao">Sim</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.fixedHeader.js"></script>
<script src="/js/dataTables.tableTools.js"></script>
<script src="/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#exampleModal').modal({
            keyboard: false,
            show: false
        });
        var tableFixed = $('#listDataTable').dataTable({
            'info': false,
            'pageLength': 10,
            "aLengthMenu": [[5, 10, 25, 50, 100, 250, 500, -1], [5, 10, 25, 50, 100, 250, 500, "Todos"]],
            "order": [[ 0, "desc" ]],
            "oLanguage": {
                "sSearch": "Filtro: ",
                "sLengthMenu": "Total de registros por pagina: _MENU_ "
            }
        });

        //new $.fn.dataTable.FixedHeader( tableFixed );
        $("#valor").maskMoney({showSymbol:true, symbol:"R$ ", decimal:",", thousands:"."});
        $('.data').mask("99/99/9999");
        $('.data').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            orientation: "top right"
        });

        $(".excluir-lancamento").click(function(){
            $("#codigo-lancamento").html("");
            $("#codigo-lancamento").html($(this).attr('data-codigo'));

            $('#exampleModal').modal('show');

            return false;
        });

        $("#processarSolicitacao").click(function(){
            $('#exampleModal').modal('hide');
           var idLinkRemover = "#acao-remover-" + $("#codigo-lancamento").html();
           window.location = $(idLinkRemover).attr('href');
        });


    });

</script>