<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary')->setLabel('Atualizar');

?>

<?php
$id = $form->getObject()->getId();
$form->setAttribute('action', $this->url('movfinanceiro.update', ['id' => $id]));
if($this->hasRelationShipFinancial){
    $form->get('valor')->setAttribute('readonly', 'readonly');
}
?>
<?php $form->prepare(); ?>
<style>
    .radioOptions label{
        margin-right: 50px;
        display: inline;
        height: 30px;
    }
    .radioOptions label input{
        line-height: 30px;

    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Cadastro de Movimento Financeiro
            </div>
            <?php echo $this->form()->openTag($this->form); ?>
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-6">
                        <?php $message = $this->formElementErrors($form->get('descricao'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('descricao')); ?>
                            <?php echo $this->formElement($form->get('descricao')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <?php $message = $this->formElementErrors($form->get('valor'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('valor')); ?>
                            <?php echo $this->formElement($form->get('valor')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <?php $message = $this->formElementErrors($form->get('formaPgto'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('formaPgto')); ?>
                            <?php echo $this->formElement($form->get('formaPgto')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4">
                        <?php $message = $this->formElementErrors($form->get('planoConta'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('planoConta')); ?>
                            <?php echo $this->formElement($form->get('planoConta')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <?php $message = $this->formElementErrors($form->get('dataVencimento'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('dataVencimento')); ?>
                            <?php echo $this->formElement($form->get('dataVencimento')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <?php $message = $this->formElementErrors($form->get('dataQuitacao'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('dataQuitacao')); ?>
                            <?php echo $this->formElement($form->get('dataQuitacao')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                    <div class="col-md-4 radioOptions">
                        <?php $message = $this->formElementErrors($form->get('natureza'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <p style="diplay:block;font-weight: 400;font-size: 0.875em;">Natureza</p>
                            <div style="display: none">
                                <?php echo $this->formElement($form->get('natureza')); ?>
                            </div>
                            <?php echo array_search($this->movFinanceiro->getNatureza(), ['Despesa' => 'D', 'Receita' => 'R', 'Retirada' => 'S'] ); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <?php echo $this->formButton($submit); ?>
                <a href="#" id="voltar" class="btn btn-default">Voltar</a>
            </div>
            <?php $this->form()->closeTag(); ?>


        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Confirmação de alteração</h4>
            </div>
            <div class="modal-body">
                <p>
                    Você removeu a data de quitação deste lançamento contábil, isto implicará em cancelamento de quitação para parcela de pedido ou parcela remessa de fornecedor.<br/>
                    Tem certeza que deseja alterar o lançamento contábil com o código :
                    <span id="codigo-lancamento" style="font-weight: bold"><?php echo $this->movFinanceiro->getId(); ?></span> ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="processarSolicitacao">Sim</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {

        var statusMovFinanceiro = '<?php echo $this->statusMovFinanceiro; ?>';
        var hasRelationShipFinancial = '<?php echo $this->hasRelationShipFinancial; ?>';
        var confirmarAlteracao = false;
        $('#exampleModal').modal({
            keyboard: false,
            show: false
        });

        $("#valor").maskMoney({showSymbol:true, symbol:"R$ ", decimal:",", thousands:"."});
        $('.data').mask("99/99/9999");
        $('.data').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            orientation: "top right"
        });

        $("#gravar").click(function(){
            //e.preventDefault();
             if(confirmarAlteracao == false){
                if(statusMovFinanceiro == 'F' && $("#dataQuitacao").val() == "" && hasRelationShipFinancial == '1'){
                    $('#exampleModal').modal('show');
                    return false;
                }
             }

        });

        $(document.body).on('submit', '#movfinanceira', function(){
            return true;
        });

        $("#processarSolicitacao").click(function(){
            $('#exampleModal').modal('hide');
            confirmarAlteracao = true;
            $("#gravar").click();
        });
    });



</script>