<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
$submit = $form->get('submit');
$submit->setLabel('Pesquisar');

?>
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Relatório de Visitas Agendadas
            </div>

            <div class="panel-body">
                <?php if($this->flashMessages): ?>
                    <div class="row ">
                        <?php foreach($this->flashMessages as $namespace => $messages): ?>
                            <div class=" col-xs-12 alert alert-<?php echo $namespace;?>">
                                <ul>
                                    <?php foreach ($messages as $msg): ?>
                                        <?php echo $msg; ?>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>


                <?php echo $this->form()->openTag($this->form); ?>
                <div class="row linha-form">
                    <div class="col-md-6">
                        <?php echo $this->formLabel($form->get('evento')); ?>
                        <?php echo $this->formElement($form->get('evento')); ?>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('dataDe')); ?>
                            <?php echo $this->formElement($form->get('dataDe')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('dataAte')); ?>
                            <?php echo $this->formElement($form->get('dataAte')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('status')); ?>
                            <?php echo $this->formElement($form->get('status')); ?>
                        </div>
                    </div>
                </div>
                <div class="row linha-form">
                    <div class="col-md-2">
                        <div class="formgroup" style="margin-bottom: 20px;margin-top: 20px;">
                            <?php echo $this->formElement($form->get('submit')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup" style="margin-bottom: 20px;margin-top: 20px;">
                            <button type="submit" name="imprimir" id="btnImprimir" class="btn btn-primary">Imprimir</button>
                        </div>
                    </div>
                </div>
                <?php $this->form()->closeTag(); ?>

                <div class="row">

                    <div class="col-xs-12">
                        <table class="table table-bordered" id="listDataTable" >
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th style="width: 60%;">Evento</th>
                                <th>Data</th>
                                <th>Status</th>

                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($this->agendamentos as $agendamento): ?>
                                <tr>
                                    <td><?php echo $agendamento->getId(); ?></td>
                                    <td><?php echo $agendamento->getEvento();?></td>
                                    <td><?php echo $agendamento->getDataHora()->format('d/m/Y');?></td>
                                    <td><?php echo ($agendamento->getStatus() == "M")? "Agendada" : "Realizada";?></td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="panel-footer">
                <a href="#" id="voltar" class="btn btn-default">Voltar</a>
            </div>

        </div>
    </div>
</div>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.fixedHeader.js"></script>
<script src="/js/dataTables.tableTools.js"></script>
<script src="/js/jquery.dataTables.bootstrap.js"></script>

<!-- this page specific inline scripts -->
<script>
    $(document).ready(function() {

        var tableFixed = $('#listDataTable').dataTable({
            'info': false,

            <?php if(isset($_REQUEST['imprimir'])): ?>
            'pageLength': -1,
            <?php else: ?>
            'pageLength': 10,
            <?php endif;?>

            "aLengthMenu": [[2, 10, 25, 50, 100, 250, 500, -1], [2, 10, 25, 50, 100, 250, 500, "Todos"]],
            "oLanguage": {
                "sSearch": "Filtro: ",
                "sLengthMenu": "Total de registros por pagina: _MENU_ "
            }
        });

        // new $.fn.dataTable.FixedHeader( tableFixed );

        <?php if(isset($_REQUEST['imprimir'])): ?>
        window.print();
        <?php endif; ?>

        //new $.fn.dataTable.FixedHeader( tableFixed );

        $('.data').mask("99/99/9999");
        $('.data').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            orientation: "top right"
        });
    });
</script>