<table style="width: 100%;">
    <tbody>
        <tr>
            <td>
                <p style="text-align: justify;line-height: 30px;">
                    Olá fornedor(a), <strong><?php echo $this->infoRemessa->getFornecedor()->getNomeFantasia(); ?></strong><br/>
                    Você entregou uma remessa de produtos para venda em consignação na <strong>Semi Joias LTDA</strong>,
                    nesta entrega ficou acordado que na data: <strong><?php echo !is_null($this->infoRemessa
                        ->getDataDevolucao())?$this->infoRemessa->getDataDevolucao()->format("d/m/Y"):""; ?></strong>,
                    a quantidade de produtos não vendidos serão devolvidos sem custos, e as quantidade dos produtos da remessa que foram vendidos, serão quitadas
                    conforme preço de custo negociados e definidos no momento do cadastro da remessa em estoque.<br/>
                    Abaixo segue um resumo dos detalhes da remessa de produtos cadastrada:
                </p>
            </td>
        </tr>
    </tbody>
</table>

<table style="width: 100%;">
    <thead>
    <tr>
        <th>
            <div style="border-bottom: solid 1px #ddd; width: 100%;height: 35px;background-color: #f4f4f4;line-height:35px;font-size: 18px; border-top-left-radius: 5px; border-top-right-radius: 10px;">
                <div style="margin-left: 10px;">Detalhamentos da remessa de produtos - Cod.: <?php echo $this->infoRemessa->getId(); ?></div>
            </div>
        </th>
    </tr>
    </thead>
</table>


<div class="row">

    <table class="table" style=" margin-left: 25px;margin-top: 20px;">
        <thead>
        <tr>
            <th style="border-top: none;padding-left: 0px;line-height: 10px;font-size: 20px;font-weight: 100;">
                Definições Gerais
            </th>
        </tr>
        </thead>

    </table>
    <div class="col-md-12">
        <p style="font-size: 17px;margin-left: 10px;">
            Fornecedor:
            <strong><?php echo $this->infoRemessa->getFornecedor()->getNomeFantasia(); ?></strong>
        </p>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Valor total Custo</th>
                <th>Data de Cadastro</th>
                <th>Data de Devolução</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    R$ <?php echo number_format($this->infoRemessa->getValorTotal(), 2, ',', '.');?>
                </td>
                <td>
                    <?php echo !is_null($this->infoRemessa
                        ->getDataCadastro())?$this->infoRemessa->getDataCadastro()->format("d/m/Y"):""; ?>
                </td>
                <td>
                    <?php echo !is_null($this->infoRemessa
                        ->getDataDevolucao())?$this->infoRemessa->getDataDevolucao()->format("d/m/Y"):""; ?>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">

    <table class="table" style=" margin-left: 25px;">
        <thead>
        <tr>
            <th style="border-top: none;padding-left: 0px;line-height: 10px;font-size: 20px;font-weight: 100;">
                Itens da remessa
            </th>
        </tr>
        </thead>

    </table>
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nome do Produto</th>
                <th style="width: 15%;">Quant.</th>
                <th style="width: 15%;">V. Custo Unit.</th>
                <th style="width: 15%;">V. Custo Total</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($this->itensRemessa as $itemPedido): ?>
                <tr>
                    <td><?php echo $itemPedido->getProduto()->getNome();?></td>
                    <td><?php echo $itemPedido->getQuantidade();?></td>
                    <td>R$ <?php echo number_format($itemPedido->getPrecoCusto(), 2, ',', '.');?></td>
                    <td>R$ <?php echo number_format($itemPedido->getPrecoCusto() * $itemPedido->getQuantidade(), 2, ',', '.');?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>



<table style="width: 100%;">
    <tfoot>
    <tr>
        <th>
            <div style="border-bottom: solid 1px #ddd; width: 100%;height: 35px;background-color: #f4f4f4;
                    line-height:25px;font-size: 12px;border-bottom-left-radius: 9px; border-bottom-right-radius: 9px;
                    margin-bottom: -1px;">
                <div style="margin-left: 10px;">&copy; <?php echo date('Y');?> Semi Jóias LTDA</div>
            </div>
        </th>
    </tr>
    </tfoot>
</table>
