<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
$submit = $form->get('submit');
$submit->setLabel('Pesquisar');

?>
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Contas a pagar aos fornecedores
            </div>

            <div class="panel-body">
                <?php if($this->flashMessages): ?>
                    <div class="row">
                        <?php foreach($this->flashMessages as $namespace => $messages): ?>
                            <div class=" col-xs-12 alert alert-<?php echo $namespace;?>">
                                <ul>
                                    <?php foreach ($messages as $msg): ?>
                                        <?php echo $msg; ?>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>


                <?php echo $this->form()->openTag($this->form); ?>
                <div class="row ">
                    <div class="col-md-6">
                        <?php echo $this->formLabel($form->get('descricao')); ?>
                        <?php echo $this->formElement($form->get('descricao')); ?>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('dataVencimentoDe')); ?>
                            <?php echo $this->formElement($form->get('dataVencimentoDe')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('dataVencimentoAte')); ?>
                            <?php echo $this->formElement($form->get('dataVencimentoAte')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('valor')); ?>
                            <?php echo $this->formElement($form->get('valor')); ?>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('formaPgto')); ?>
                            <?php echo $this->formElement($form->get('formaPgto')); ?>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('planoConta')); ?>
                            <?php echo $this->formElement($form->get('planoConta')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('natureza')); ?>
                            <?php echo $this->formElement($form->get('natureza')); ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="formgroup">
                            <?php echo $this->formLabel($form->get('status')); ?>
                            <?php echo $this->formElement($form->get('status')); ?>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="formgroup" style="margin-bottom: 20px;margin-top: 20px;">
                            <?php echo $this->formElement($form->get('submit')); ?>
                        </div>
                    </div>
                </div>
                <?php $this->form()->closeTag(); ?>

                <div class="row">

                    <div class="col-md-12 col-sm-12">
                        <table class="table table-bordered" id="listDataTable" >
                            <thead>
                            <tr>
                                <th style="width: 25%;">Descrição</th>
                                <th style="width: 15%">Cliente</th>
                                <th style="width: 12%">Tel.</th>
                                <th style="width: 10%;">F. Pag.</th>

                                <th style="width:8%;;">Venc.</th>

                                <th style="width: 5%;">Nat.</th>
                                <th style="width: 5%;">Status</th>
                                <th>Valor</th>
                                <th style="width: 2%;">Ações</th>

                            </tr>
                            </thead>
                            <tbody>
                            <?php
                            $valorTotal = 0;
                            foreach ($this->contas as $conta): ?>
                                <tr>
                                    <td>
                                        <span alt="<?php echo $conta['mf_descricao']; ?>" title="<?php echo $conta['mf_descricao']; ?>">
                                            <?php echo (strlen($conta['mf_descricao'])> 29)?
                                                substr($conta['mf_descricao'],0,29) . "..." : $conta['mf_descricao'];?>
                                        </span>

                                    </td>
                                    <td>
                                        <span alt="<?php echo $conta['fornecedor'];?>" title="<?php echo $conta['fornecedor'];?>" >
                                        <?php echo $this->abreviarNome($conta['fornecedor']); ?>
                                        </span>
                                    </td>
                                    <td><?php echo (empty($conta['tel_celular'])? $conta['tel_fixo'] : $conta['tel_celular']);?> </td>
                                    <td><?php echo $conta['forma_pgto'];?></td>

                                    <td><?php echo $conta['mf_dataVencimento']->format('d/m/Y');?></td>

                                    <td><?php echo array_search( $conta['mf_natureza'],
                                            [ "Despesa" => "D", "Receita" => "R", "Retirada" => "S"]) ;?></td>
                                    <td><?php echo ($conta['mf_status'] == "A")? "Em Aberto" : "Quitada";?></td>
                                    <td><?php echo "R$ " .number_format( $conta['mf_valor'] , 2, ',', '.');?></td>
                                    <td>
                                        <a href="<?php echo $this->url('movfinanceiro.update', ['id' => $conta['mf_id']]);?>">
                                            Quitar
                                        </a>
                                    </td>
                                </tr>
                                <?php
                                $valorTotal += $conta['mf_valor'];
                            endforeach; ?>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="7">Valor Total</th>
                                <th colspan="2" style="text-align: left;"><?php echo "R$ " .number_format( $valorTotal , 2, ',', '.');?></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
            <div class="panel-footer">
                <a href="#" id="voltar" class="btn btn-default">Voltar</a>
            </div>

        </div>
    </div>
</div>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.fixedHeader.js"></script>
<script src="/js/dataTables.tableTools.js"></script>
<script src="/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>

<!-- this page specific inline scripts -->
<script>
    $(document).ready(function() {

        var tableFixed = $('#listDataTable').dataTable({
            'info': false,
            'pageLength': 10,
            "aLengthMenu": [[5, 10, 25, 50, 100, 250, 500, -1], [5, 10, 25, 50, 100, 250, 500, "Todos"]],
            "oLanguage": {
                "sSearch": "Filtro: ",
                "sLengthMenu": "Total de registros por pagina: _MENU_ "
            }
        });

        //new $.fn.dataTable.FixedHeader( tableFixed );

        $('.data').mask("99/99/9999");
        $('.data').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            orientation: "top right"
        });

        $("#valor").maskMoney({showSymbol:true, symbol:"R$ ", decimal:",", thousands:"."});
    });
</script>