<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
/*
$name = $form->get('name');
$name->setAttribute('class', 'form-control')
    ->setLabelAttributes(['class' => 'control-label']);
$valueSale = $form->get('value_sale');
$valueSale->setAttribute('class', 'form-control')
    ->setLabelAttributes(['class' => 'control-label']);
$valueCost = $form->get('value_cost');
$valueCost->setAttribute('class', 'form-control');
$quantity = $form->get('quantity');
$quantity->setAttribute('class', 'form-control');
*/
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary')->setLabel('Incluir');

?>

<?php $form->setAttribute('action', $this->url('usuario.create')); ?>
<?php $form->prepare(); ?>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Cadastro de usuário
            </div>
            <?php echo $this->form()->openTag($this->form); ?>
            <div class="panel-body">

                <?php if($this->flashMessages): ?>

                    <div class="row">
                        <?php foreach($this->flashMessages as $namespace => $messages): ?>
                            <div class=" col-xs-12 alert alert-<?php echo $namespace;?>">
                                <ul>
                                    <?php foreach ($messages as $msg): ?>
                                        <?php echo $msg; ?>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>

                <div class="row">
                    <div class="col-xs-12">
                        <?php $message = $this->formElementErrors($form->get('nome'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('nome')); ?>
                            <?php echo $this->formElement($form->get('nome')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <?php $message = $this->formElementErrors($form->get('grupo'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('grupo')); ?>
                            <?php echo $this->formElement($form->get('grupo')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <?php $message = $this->formElementErrors($form->get('email'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('email')); ?>
                            <?php echo $this->formElement($form->get('email')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <?php $message = $this->formElementErrors($form->get('login'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('login')); ?>
                            <?php echo $this->formElement($form->get('login')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <?php $message = $this->formElementErrors($form->get('senha'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('senha')); ?>
                            <?php echo $this->formElement($form->get('senha')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <?php $message = $this->formElementErrors($form->get('ativo'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('ativo')); ?><br/>
                            <?php echo $this->formElement($form->get('ativo')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <?php $message = $this->formElementErrors($form->get('foto'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('foto')); ?>
                            <?php echo $this->formFile($form->get('foto')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <?php echo $this->formButton($submit); ?>
                <a href="#" id="voltar" class="btn btn-default">Voltar</a>
            </div>
            <?php $this->form()->closeTag(); ?>


        </div>
    </div>
</div>