<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Usuários

        </div>
        <div class="panel-body">
            <div class="row col-xs-12" style="margin-bottom: 10px;">
                <a href="<?php echo $this->url('usuario.create'); ?>" class="btn btn-primary">
                    <i class="fa fa-plus-circle"></i> Novo
                </a>
            </div>

            <div class="row col-xs-12">
                <table class="table table-bordered" id="listDataTable">
                    <thead>
                    <tr>
                        <th style="width: 40%;">Nome</th>
                        <th >E-mail</th>
                        <th >Login</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>


                    <?php foreach($this->grupos as $grupo) : ?>
                        <tr>
                            <td><?php echo $this->escapeHtml($grupo->getNome());?></td>
                            <td><?php echo $this->escapeHtml($grupo->getEmail());?></td>
                            <td><?php echo $this->escapeHtml($grupo->getLogin());?></td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Ações <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="<?php echo $this->url('usuario.update',['id' => $grupo->getId()]); ?>">Editar</a></li>
                                       <!-- <li><a class="excluir-lancamento"
                                               id="acao-remover-<?php echo $grupo->getId();?>"
                                               data-codigo="<?php echo  $grupo->getId();?>"
                                               href="<?php echo $this->url('usuario.delete',
                                                   ['id' => $grupo->getId()]); ?>" >Excluir</a>
                                        </li> -->
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel-footer">
            <a href="#" id="voltar" class="btn btn-default">Voltar</a>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Confirmação de exclusão</h4>
            </div>
            <div class="modal-body">
                <p>
                    Para excluir usuário você deve certifica-se de que este usuário não está ligado a nenhum pedido ou movimentação financeira.<br/>
                    tem certeza que deseja excluir o usuario com o código : <span id="codigo-lancamento" style="font-weight: bold"></span> ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="processarSolicitacao">Sim</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.fixedHeader.js"></script>
<script src="/js/dataTables.tableTools.js"></script>
<script src="/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#exampleModal').modal({
            keyboard: false,
            show: false
        });
        var tableFixed = $('#listDataTable').dataTable({
            'info': false,
            'pageLength': 10,
            "aLengthMenu": [[5, 10, 25, 50, 100, 250, 500, -1], [5, 10, 25, 50, 100, 250, 500, "Todos"]],
            "order": [[ 0, "desc" ]],
            "oLanguage": {
                "sSearch": "Filtro: ",
                "sLengthMenu": "Total de registros por pagina: _MENU_ "
            }
        });

        //new $.fn.dataTable.FixedHeader( tableFixed );
        $(".excluir-lancamento").click(function(){
            $("#codigo-lancamento").html("");
            $("#codigo-lancamento").html($(this).attr('data-codigo'));

            $('#exampleModal').modal('show');

            return false;
        });

        $("#processarSolicitacao").click(function(){
            $('#exampleModal').modal('hide');
            var idLinkRemover = "#acao-remover-" + $("#codigo-lancamento").html();
            window.location = $(idLinkRemover).attr('href');
        });


    });

</script>
