<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
/*
$name = $form->get('name');
$name->setAttribute('class', 'form-control')
    ->setLabelAttributes(['class' => 'control-label']);
$valueSale = $form->get('value_sale');
$valueSale->setAttribute('class', 'form-control')
    ->setLabelAttributes(['class' => 'control-label']);
$valueCost = $form->get('value_cost');
$valueCost->setAttribute('class', 'form-control');
$quantity = $form->get('quantity');
$quantity->setAttribute('class', 'form-control');
*/
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary col-xs-12')->setLabel('Logar');

?>
<?php $form->setAttribute('action', $this->url('usuario.auth')); ?>
<?php $form->prepare(); ?>

<div class="row">
    <div class="col-xs-12">
        <div id="login-box" style="margin-top: 12%;">
            <div id="login-box-holder">
                <div class="row">
                    <div class="col-xs-12">
                        <header id="login-header">
                            <div id="login-logo">
                                <!--<img src="/img/logo.png" alt=""/>-->
                                <p style="font-family: 'Patua One', sans-serif; font-size: 25px; line-height: 27px;font-weight: bold;">Juliana Jóias</p>
                            </div>
                        </header>
                        <div id="login-box-inner">
                            <?php echo $this->form()->openTag($this->form); ?>
                                <div class="row">
                                    <?php if($this->messages): ?>
                                        <div class=" col-xs-12 alert alert-danger">
                                            <ul>
                                                <?php foreach ($this->messages as $msg): ?>
                                                    <?php echo $msg; ?>
                                                <?php endforeach; ?>
                                            </ul>
                                        </div>
                                    <?php endif; ?>
                                </div>

                                <?php $message = $this->formElementErrors($form->get('login'), ['class' => 'help-block']); ?>
                                <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                                    <div class="input-group  <?php echo $message ? 'has-error' : ''; ?>">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <!--<input class="form-control" type="text" placeholder="Email address">-->
                                        <?php echo $this->formElement($form->get('login')); ?>
                                    </div>
                                    <?php echo $message; ?>
                                </div>

                                <?php $message = $this->formElementErrors($form->get('senha'), ['class' => 'help-block']); ?>
                                <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                        <?php echo $this->formElement($form->get('senha')); ?>
                                    </div>
                                    <?php echo $message; ?>
                                </div>


                                <div class="row">
                                    <div class="col-xs-12">
                                        <?php echo $this->formButton($submit); ?>
                                    </div>
                                </div>

                            <?php $this->form()->closeTag(); ?>
                        </div>
                    </div>
                </div>
            </div>

            <div id="login-box-footer">
                <div class="row">
                    <div class="col-xs-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>