<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
/*
$name = $form->get('name');
$name->setAttribute('class', 'form-control')
    ->setLabelAttributes(['class' => 'control-label']);
$valueSale = $form->get('value_sale');
$valueSale->setAttribute('class', 'form-control')
    ->setLabelAttributes(['class' => 'control-label']);
$valueCost = $form->get('value_cost');
$valueCost->setAttribute('class', 'form-control');
$quantity = $form->get('quantity');
$quantity->setAttribute('class', 'form-control');
*/
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary')->setLabel('Logar');

?>

<style>
    body{
        background-color: #e7ebee;
    }
</style>
<?php $form->setAttribute('action', $this->url('usuario.auth')); ?>
<?php $form->prepare(); ?>

<div class="row" style="height: 100%;">
    <div class="col-md-4 col-md-offset-4" style="margin-top: 14%;margin-bottom: 14%;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Autenticação
            </div>
            <?php echo $this->form()->openTag($this->form); ?>
            <div class="panel-body">

                <div class="row">

                    <?php if($this->messages): ?>
                        <div class=" col-xs-12 alert alert-danger">
                            <ul>
                                <?php foreach ($this->messages as $msg): ?>
                                    <?php echo $msg; ?>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                    <?php endif; ?>

                    <div class="col-xs-12">
                        <?php $message = $this->formElementErrors($form->get('login'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('login')); ?>
                            <?php echo $this->formElement($form->get('login')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <?php $message = $this->formElementErrors($form->get('senha'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('senha')); ?>
                            <?php echo $this->formElement($form->get('senha')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
            </div>

                <?php echo $this->formButton($submit); ?>

            <?php $this->form()->closeTag(); ?>


        </div>
    </div>
</div>