<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Gerenciamento de permissoes do grupo : <?php echo $this->escapeHtml($this->infoGrupo->getNome()); ?>
            </div>
            <form action="/usuario/permissoes-grupo/<?php echo $this->infoGrupo->getId(); ?>/gerenciar"  method="POST" >
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="form-group">
                        <?php foreach ($this->permissoes as $permissao): ?>
                            <div class="checkbox">
                                <input type="checkbox"  name="permissoes_acl[]" value="<?php
                                echo (is_null($permissao['id_recurso_sistema']))?
                                   $permissao['nome_rota'] :  $permissao['id_recurso_sistema'];?>"
                                 <?php if( $permissao['permissao'] == "allow" ): echo "checked='checked'"; endif;?>
                                />
                                <?php echo $permissao['uri']; ?>

                                </label>
                            </div>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>


                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="button" onclick="" class="btn btn-default">Cancelar</button>
                </div>
            
            </div>
            </form>
        </div>
    </div>
</div>