<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
$submit = $form->get('submit');
$submit->setLabel('Pesquisar');

?>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Fornecedores

        </div>
        <div class="panel-body">

            <?php if($this->flashMessages): ?>
                <div class="row">
                    <?php foreach($this->flashMessages as $namespace => $messages): ?>
                        <div class=" col-xs-12 alert alert-<?php echo $namespace;?>">
                            <ul>
                                <?php foreach ($messages as $msg): ?>
                                    <?php echo $msg; ?>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>

            <div class="row col-xs-12" style="margin-bottom: 10px;">
                <a href="<?php echo $this->url('fornecedor.create'); ?>" class="btn btn-primary">
                    <i class="fa fa-plus-circle"></i> Novo
                </a>
            </div>

            <?php echo $this->form()->openTag($this->form); ?>
            <div class="row ">
                <div class="col-md-12">
                    <?php echo $this->formLabel($form->get('nome')); ?>
                    <?php echo $this->formElement($form->get('nome')); ?>
                </div>
            </div>

            <div class="row">

                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('ativo')); ?>
                    <?php echo $this->formElement($form->get('ativo')); ?>
                </div>

                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('CNPJ')); ?>
                    <?php echo $this->formElement($form->get('CNPJ')); ?>
                </div>

                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('email')); ?>
                    <?php echo $this->formElement($form->get('email')); ?>
                </div>

                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('telefoneFixo')); ?>
                    <?php echo $this->formElement($form->get('telefoneFixo')); ?>
                </div>
            </div>

            <div class="row">


                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('nomeContato')); ?>
                    <?php echo $this->formElement($form->get('nomeContato')); ?>
                </div>
                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('telefoneContato')); ?>
                    <?php echo $this->formElement($form->get('telefoneContato')); ?>
                </div>
                <div class="col-md-3">
                    <?php echo $this->formLabel($form->get('codigo')); ?>
                    <?php echo $this->formElement($form->get('codigo')); ?>
                </div>

            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="formgroup" style="margin-bottom: 20px;margin-top: 20px;">
                        <?php echo $this->formElement($form->get('submit')); ?>
                    </div>
                </div>
            </div>
            <?php $this->form()->closeTag(); ?>


            <div class="row col-xs-12">
                <table class="table table-bordered" id="listDataTable">
                    <thead>
                    <tr>
                        <th >ID</th>
                        <th style="width: 20%;">Nome Fantasia</th>
                        <th >CNPJ</th>
                        <th >Tel. Fixo</th>
                        <th >Email</th>
                        <th style="width: 15%;">Contato</th>
                        <th >Tel. Contato</th>

                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>


                    <?php foreach($this->fornecedores as $fornecedor) : ?>
                        <tr>
                            <td><?php echo $fornecedor->getFornecedor()->getId();?></td>
                            <td><?php echo $fornecedor->getFornecedor()->getNomeFantasia();?></td>
                            <td><?php echo $fornecedor->getFornecedor()->getCNPJ();?></td>
                            <td><?php echo $fornecedor->getFornecedor()->getTelefoneFixo();?></td>
                            <td><?php echo $fornecedor->getFornecedor()->getEmail();?></td>
                            <td><?php echo $fornecedor->getNome();?></td>
                            <td><?php echo $fornecedor->getTelefone();?></td>

                            <td>
                                <a href="<?php echo $this->url('fornecedor.update', ['id' => $fornecedor->getFornecedor()->getId()]); ?>" >Editar</a>
                                <!--<a href="<?php echo $this->url('fornecedor.delete', ['id' => $fornecedor->getFornecedor()->getId()]); ?>" >Excluir</a>-->
                            </td>

                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>


        </div>

        <div class="panel-footer">
            <a href="#" id="voltar" class="btn btn-default">Voltar</a>
        </div>
    </div>
</div>

<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.fixedHeader.js"></script>
<script src="/js/dataTables.tableTools.js"></script>
<script src="/js/jquery.dataTables.bootstrap.js"></script>

<!-- this page specific inline scripts -->
<script>
    $(document).ready(function() {

        var tableFixed = $('#listDataTable').dataTable({
            'info': false,
            'pageLength': 10,
            "aLengthMenu": [[5, 10, 25, 50, 100, 250, 500, -1], [5, 10, 25, 50, 100, 250, 500, "Todos"]],
            "oLanguage": {
                "sSearch": "Filtro: ",
                "sLengthMenu": "Total de registros por pagina: _MENU_ "
            }
        });

        //new $.fn.dataTable.FixedHeader( tableFixed );

        $('#telefoneFixo,#telefoneCelular,#telefoneContato').mask("(99) 99999 - 9999");
        $('#telefoneFixo,#telefoneCelular,#telefoneContato').focusout(function(){

            var phone, element;
            element = $(this);
            element.unmask();
            phone = element.val().replace(/\D/g, '');

            if(phone.length > 10){
                element.mask("(99) 99999 - 9999");
            }else{
                element.mask("(99) 9999 - 9999");
            }
        }).trigger('focusout');
    });
</script>