<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
/*
$name = $form->get('name');
$name->setAttribute('class', 'form-control')
    ->setLabelAttributes(['class' => 'control-label']);
$valueSale = $form->get('value_sale');
$valueSale->setAttribute('class', 'form-control')
    ->setLabelAttributes(['class' => 'control-label']);
$valueCost = $form->get('value_cost');
$valueCost->setAttribute('class', 'form-control');
$quantity = $form->get('quantity');
$quantity->setAttribute('class', 'form-control');
*/
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary')->setLabel('Editar');

?>
<?php
$id = $this->id ;
$form->setAttribute('action', $this->url('fornecedor.update', ['id' => $id])); ?>
<?php $form->prepare(); ?>
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Cadastro de fornecedor
            </div>
            <?php echo $this->form()->openTag($this->form); ?>
            <div class="panel-body">
                <div class="row">

                    <h4>Dados Pessoais</h4>

                    <div class="col-xs-6">
                        <?php $message = $this->formElementErrors($form->get('nomeFantasia'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('nomeFantasia')); ?>
                            <?php echo $this->formElement($form->get('nomeFantasia')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <?php $message = $this->formElementErrors($form->get('razaoSocial'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('razaoSocial')); ?>
                            <?php echo $this->formElement($form->get('razaoSocial')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('inscEstadual'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('inscEstadual')); ?>
                            <?php echo $this->formElement($form->get('inscEstadual')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('inscMunicipal'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('inscMunicipal')); ?>
                            <?php echo $this->formElement($form->get('inscMunicipal')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('CNPJ'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('CNPJ')); ?>
                            <?php echo $this->formElement($form->get('CNPJ')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('email'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('email')); ?>
                            <?php echo $this->formElement($form->get('email')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-2">
                        <?php $message = $this->formElementErrors($form->get('telefoneFixo'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('telefoneFixo')); ?>
                            <?php echo $this->formElement($form->get('telefoneFixo')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-2">
                        <?php $message = $this->formElementErrors($form->get('telefoneCelular'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('telefoneCelular')); ?>
                            <?php echo $this->formElement($form->get('telefoneCelular')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('ramoAtividade'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('ramoAtividade')); ?>
                            <?php echo $this->formElement($form->get('ramoAtividade')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xs-8">
                        <?php $message = $this->formElementErrors($form->get('observacao'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('observacao')); ?>
                            <?php echo $this->formElement($form->get('observacao')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('ativo'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?> radioOptions">
                            <p class="label-radio">Ativo?</p>
                            <?php echo $this->formElement($form->get('ativo')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h4>Dados de Endereço</h4>


                    <div class="col-xs-8">
                        <?php $message = $this->formElementErrors($form->get('logradouro'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('logradouro')); ?>
                            <?php echo $this->formElement($form->get('logradouro')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-2">
                        <?php $message = $this->formElementErrors($form->get('CEP'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('CEP')); ?>
                            <?php echo $this->formElement($form->get('CEP')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-2">
                        <?php $message = $this->formElementErrors($form->get('numero'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('numero')); ?>
                            <?php echo $this->formElement($form->get('numero')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('bairro'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('bairro')); ?>
                            <?php echo $this->formElement($form->get('bairro')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('cidade'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('cidade')); ?>
                            <?php echo $this->formElement($form->get('cidade')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('UF'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('UF')); ?>
                            <?php echo $this->formElement($form->get('UF')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h4>Dados do Contato</h4>

                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('nome'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('nome')); ?>
                            <?php echo $this->formElement($form->get('nome')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('funcao'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('funcao')); ?>
                            <?php echo $this->formElement($form->get('funcao')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <?php $message = $this->formElementErrors($form->get('telefone'), ['class' => 'help-block']); ?>
                        <div class="form-group <?php echo $message ? 'has-error' : ''; ?>">
                            <?php echo $this->formLabel($form->get('telefone')); ?>
                            <?php echo $this->formElement($form->get('telefone')); ?>
                            <?php echo $message; ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <?php echo $this->formButton($submit); ?>
                <a href="#" id="voltar" class="btn btn-default">Voltar</a>
            </div>

            <?php $this->form()->closeTag(); ?>


        </div>
    </div>
</div>
<script type="text/javascript" src="/js/busca-endereco-cep.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        $('#CEP').mask("99999 - 999");
        $('#CNPJ').mask("99.999.999/9999-99");
        $('#telefoneFixo,#telefoneCelular,#telefone').mask("(99) 99999 - 9999");
        $('#telefoneFixo').focusout(function(){

            var phone, element;
            element = $(this);
            element.unmask();
            phone = element.val().replace(/\D/g, '');

            if(phone.length > 10){
                element.mask("(99) 99999 - 9999");
            }else{
                element.mask("(99) 9999 - 9999");
            }
        }).trigger('focusout');

        $('#CEP').blur(function(){
            var resultBusca = getEndereco('CEP', "");
            if(resultBusca != null){
                $("#numero").focus();
            }
        });

        /*$('#CNPJ').focusout(function(){

         var valueunMask, element;
         element = $(this);
         element.unmask();
         valueunMask = element.val().replace(/\D/g, '');

         if(valueunMask.length < 11){
         element.mask("999.999.999-99");
         }else{
         element.mask("99.999.999/9999-99");
         }
         }).trigger('focusout');
         */

    });

</script>