
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }

    .itensPedidos{
        text-transform: uppercase;
        font-size: 0.875em;
    }
    .itensPedidos td {
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Cadastro de pedidos - Definir Items
            </div>
            <form method="POST" action="/venda/pedido/<?php echo $this->infoCliente->getId(); ?>/definir-itens">
                <div class="panel-body">
                    <div class="row">
                        <p class="label-cliente-fornecedor" >Cliente: <span style="font-weight: bold"><?php echo $this->infoCliente->getNome(); ?></span></p>
                        <input type="hidden" name="cliente" value="<?php echo $this->infoCliente->getId(); ?>" />
                    </div>
                    <div class="row">

                        <div class="col-xs-10">
                            <div class="form-group">
                                <select id="produtoAdicionar" class="form-control">
                                    <option value="">Selecione um produto</option>
                                    <?php foreach($this->produtosPedido as $indice => $infoProduto): ?>
                                        <option value="<?php echo $indice; ?>">
                                            <?php echo $infoProduto->getProduto()->getNome();?> -
                                            R$ <?php echo number_format($infoProduto->getPrecoCliente(), 2, ',', '.');?>
                                        </option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" id="adicionarItem" class="btn btn-success">Adicionar</button>
                        </div>
                    </div>

                    <div class="row">
                        <div id="msg-validate" class=""></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered">
                                <tbody>
                                <tr class="itensPedidos" >
                                    <td class="identificador-produto" style="width: 5%;">ID</td>
                                    <td class="item-nome" style="width: 45%;" >
                                        <span>Nome do Produto</span>
                                        <input type="hidden" class="id-produto" name="produto[]" />
                                    </td>
                                    <td class="item-preco-unit" style="width: 12%; ">
                                        <span>Preço Unit.</span>
                                    </td>

                                    <td class="item-quantidade" style="width: 12%;">
                                        <span>Quantidade</span>
                                        <input type="hidden" class="form-control  valor" name="quantidade[]" />
                                    </td>
                                    <td class="item-preco-total" style="width: 12%;">
                                        <span>Preço Total</span>
                                    </td>
                                    <td class="item-link" style="width: 5%;">Remover</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="4" style="font-weight: bold;" >
                                        <div class="col-xs-3">
                                            Preço Parcial :
                                            <input id="preco-parcial-pedido" type="text" disabled="disabled" class="form-control" />
                                        </div>
                                        <div class="col-xs-3">
                                            Desconto:
                                            <input id="desconto" name="desconto" type="text" class="form-control" />
                                        </div>
                                        <div class="col-xs-4">
                                            Preço Final :
                                            <input id="preco-total-pedido" type="text" disabled="disabled" class="form-control" />
                                        </div>
                                    </td>
                                    <td colspan="3" style="font-weight: bold;" >
                                        <div class="col-xs-12">

                                            Data da Entrega :
                                            <input id="dataEntrega" name="dataEntrega" type="text"  class="form-control valor" />

                                        </div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <button type="submit" id="gravarRemessa"  class="btn btn-primary">Salvar</button>
                        <a href="#" id="voltar" class="btn btn-default">Voltar</a>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>
<script type="text/javascript">
    var produtos = <?php echo $this->produtosPedidoJSON; ?>;
    $(document).ready(function() {

        $('#dataEntrega').mask("99/99/9999");
        $('#dataEntrega').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            orientation: "top right"
        }).on("changeDate", function(e) {
            validarDataEntrega();
            //console.log('validar');
        });
        $(document.body).on('click', '.removerItem', function(){
            linhaRemover = $(this).parent().parent();
            linhaRemover.remove();
            var indiceProduto = linhaRemover.attr('id');
            if(produtos[indiceProduto]){
                produtos[indiceProduto].quant_disponivel += parseInt($("#" + indiceProduto + " .quantidade").val());
            }
            calculaSomaValortotal();
            return false;
        });

        $("#gravarRemessa").prop('disabled', 'disabled');



        $("#adicionarItem").click(function(){
            var indiceProduto = $("#produtoAdicionar").val();

            if(indiceProduto != "") {
                // Pegando as informações do Produto
                var InfoProdutoSelecionado = produtos[indiceProduto];
                if( $("#"+indiceProduto)[0] ){
                    $("#msg-validate").addClass("col-md-12 alert alert-danger");
                    $("#msg-validate").html("Produto já  selecionado, altere apenas suas informações de entrada");
                    $("#"+indiceProduto+" .item-preco-custo input[type='text']").focus();
                }else{
                    $("#msg-validate").html("");
                    $("#msg-validate").removeClass("col-md-12 alert alert-danger");
                    novaLinhaItem = $(".itensPedidos:first").clone();
                    novaLinhaItem.attr('id', indiceProduto);
                    novaLinhaItem.find(".identificador-produto").html(InfoProdutoSelecionado.produto_id);
                    novaLinhaItem.find(".id-produto").val(InfoProdutoSelecionado.produto_id);
                    novaLinhaItem.find(".item-nome span").html(InfoProdutoSelecionado.produto);
                    novaLinhaItem.find(".item-preco-unit span").html(formataNumeroMoeda(InfoProdutoSelecionado.preco));

                    novaLinhaItem.find(".item-quantidade span").html("");
                    novaLinhaItem.find(".item-preco-total span").html("");
                    novaLinhaItem.find(".item-quantidade input").prop('type', 'text');
                    novaLinhaItem.find(".item-quantidade input").addClass('quantidade');
                    novaLinhaItem.find(".item-link").html("<a href='#' class='removerItem' data='" + InfoProdutoSelecionado.produto_id + "'>Remover</a>");
                    novaLinhaItem.find(".quantidade").maskMoney({showSymbol:false, precision: 0, decimal:",", thousands:"."});
                    // Insere a linha clonada
                    novaLinhaItem.insertAfter(".itensPedidos:last");
                    $("#"+indiceProduto+" .quantidade").val("");
                    $("#"+indiceProduto+" .quantidade").focus();

                    $("#gravarRemessa").prop('disabled', 'disabled');

                }

            }

        });

        $(document.body).on('blur', '.valor', function(){

            var tot = 0;
            var indiceProduto = $(this).parent().parent().attr('id');
            var quantidade = $(this).val();
            if( parseInt(quantidade) >= 0){
                validaQuantidadeProdutoEscolhido(quantidade, indiceProduto);
                calcularValorTotalItem(indiceProduto);
                calculaSomaValortotal();
                $("#produtoAdicionar").focus();
            }
            var validForm = true;
            $(".quantidade").each(function(index, valor){

               if(valor.value == "" || valor.value == 0){
                   validForm = false;
                   return validForm;
               }
            });

            if(validForm && $("#dataEntrega").val() != ""){
                $("#gravarRemessa").prop('disabled', false);
            }else{
                $("#gravarRemessa").prop('disabled', 'disabled');
            }

        });

        $(document.body).on('blur', '#desconto', function(){
            calculaSomaValortotal();
        });

        $("#desconto").maskMoney({showSymbol:true, symbol:"R$ ", decimal:",", thousands:"."});
    });

    $(document.body).on('blur', '#dataEntrega', function(){
        validarDataEntrega();
    });

    function convertValorMoedaEmFloat(stringValor)
    {
        var valor = "";
        //valor = stringValor.replace("R$","");
        valor = stringValor;
        if( valor.search(".") != -1 ){
            valor = stringValor.replace(/[\.]/g, '');
        }
        if( valor.search(" ") != -1 ){
            valor = valor.replace(" ", "");
        }
        if( valor.search(",") != -1 ){
            valor = valor.replace(',', '.');
        }
        if(valor == ""){
            return 0
        }else{
            return parseFloat(valor);
        }
    }

    function validarDataEntrega()
    {
        if($("#dataEntrega").val() != ""){
            var validar = true;
            $(".valor").each(function(){
                var result = $(this).val();
                var valor = 0;
                if($(this).attr('type') != "hidden"){
                    if(result.search(",") == -1){
                        valor = parseInt( $(this).val() );
                    }else{
                        valor = parseInt( convertValorMoedaEmFloat($(this).val() ) ) ;
                    }
                    if(valor == 0 || isNaN(valor)){
                        validar = false;
                        return validar;
                    }
                }
            });
            if(validar == true){
                $("#gravarRemessa").prop('disabled', false);
            }else{
                $("#gravarRemessa").prop('disabled', 'disabled');
            }

        }else{
            $("#gravarRemessa").prop('disabled', 'disabled');
        }
    }

    function formataNumeroMoeda (num) {
        var numero = num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1 ");

        numero =  numero.replace('.', ',');
        var res = numero.split(",",3);
        if(res[res.length - 1].length == 1 && res.length != 1){
            res[res.length - 1] = res[res.length - 1] + "0";
            numero = res.join(",");
        }
        if(res.length == 1){
            res[res.length - 1] = res[res.length - 1] + ",00";
            numero = res.join(",");
        }


        numero =  'R$ '+numero.replace(/\s/g, '.');
        return numero;
    }

    function calcularValorTotalItem(idLinhaItem)
    {
        var InfoProdutoSelecionado = produtos[idLinhaItem];
        var identificadorLinha = '#'+idLinhaItem ;
        var quantidadeItem = parseInt( $(identificadorLinha +" .quantidade").val() );
        $(identificadorLinha +" .item-preco-total span").html( formataNumeroMoeda (quantidadeItem * InfoProdutoSelecionado.preco));
    }


    function calculaSomaValortotal()
    {
        var tot = 0;
        $(".quantidade").each(function(index, valor){
           var idLinhaItem = $(this).parent().parent().attr('id');
           var quant = parseInt( $(this).val() );
           var InfoProdutoSelecionado = produtos[idLinhaItem];
           tot += (quant * InfoProdutoSelecionado.preco);

        });
        $("#preco-parcial-pedido").val(formataNumeroMoeda(tot));
        if($("#desconto").val() != ""){
            var desconto = convertValorMoedaEmFloat($("#desconto").val());
            tot = tot - desconto;
            tot = tot.toFixed(2);
            $("#preco-total-pedido").val(formataNumeroMoeda(tot));
        }else{
            tot = tot.toFixed(2);
            $("#preco-total-pedido").val(formataNumeroMoeda(tot));
        }
    }

    function validaQuantidadeProdutoEscolhido(quantidade, indiceProduto)
    {
        if(parseInt(quantidade) > produtos[indiceProduto].quant_disponivel){
            $("#"+indiceProduto +" .quantidade").val(0);
            $("#msg-validate").addClass("col-md-12 alert alert-danger");
            $("#msg-validate").html("Só existem <b>" + produtos[indiceProduto].quant_disponivel
                +"</b> unidade(s) disponíveis para o produto <b>"+ produtos[indiceProduto].produto+"</b>");
            $("#produtoAdicionar").focus();
        }else{
            $("#msg-validate").html("");
            $("#msg-validate").removeClass("col-md-12 alert alert-danger");
        }
    }

</script>