<?php

$form = $this->form;
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary')->setLabel('Confirmar');

?>

<?php $form->setAttribute('action', $this->url('pedido.define_client')); ?>
<?php $form->prepare(); ?>
<style>
    h4{
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Cadastro de  pedido - Definir Cliente
            </div>
            <?php echo $this->form()->openTag($this->form); ?>
            <div class="panel-body">
                <?php if($this->flashMessages): ?>
                    <div class="row">
                        <div class=" col-xs-12 alert alert-success">
                            <ul>
                                <?php foreach ($this->flashMessages as $msg): ?>
                                    <?php echo $msg; ?>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                    </div>
                <?php endif; ?>

                <div class="row">

                    <div class="col-xs-12">

                            <?php echo $this->formLabel($form->get('cliente')); ?>
                            <?php echo $this->formElement($form->get('cliente')); ?>

                    </div>

                </div>

            </div>
            <div class="panel-footer">
                <button type="submit" id="gravarRemessa"  class="btn btn-primary">Salvar</button>
                <a href="#" id="voltar" class="btn btn-default">Voltar</a>
            </div>
            <?php echo $this->form()->closeTag(); ?>


        </div>
    </div>
</div>
