<?php
/** @var \App\Form\ProductForm $form */
$form = $this->form;
$submit = $form->get('submit');
$submit->setLabel('Pesquisar');

?>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Pedidos

        </div>
        <div class="panel-body">
            <?php if($this->flashMessages): ?>

                <div class="row">
                    <?php foreach($this->flashMessages as $namespace => $messages): ?>
                        <div class=" col-xs-12 alert alert-<?php echo $namespace;?>">
                            <ul>
                                <?php foreach ($messages as $msg): ?>
                                    <?php echo $msg; ?>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>
            <div class="row col-xs-12" style="margin-bottom: 10px;">
                <a href="<?php echo $this->url('pedido.define_client'); ?>" class="btn btn-primary">
                    <i class="fa fa-plus-circle"></i> Novo
                </a>
            </div>

            <?php echo $this->form()->openTag($this->form); ?>
            <div class="row ">
                <div class="col-md-6">
                    <?php echo $this->formLabel($form->get('nome')); ?>
                    <?php echo $this->formElement($form->get('nome')); ?>
                </div>
                <div class="col-md-6">
                    <?php echo $this->formLabel($form->get('vendedor')); ?>
                    <?php echo $this->formElement($form->get('vendedor')); ?>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="formgroup">
                        <?php echo $this->formLabel($form->get('dataCadastroDe')); ?>
                        <?php echo $this->formElement($form->get('dataCadastroDe')); ?>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="formgroup">
                        <?php echo $this->formLabel($form->get('dataCadastroAte')); ?>
                        <?php echo $this->formElement($form->get('dataCadastroAte')); ?>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="formgroup">
                        <?php echo $this->formLabel($form->get('valor')); ?>
                        <?php echo $this->formElement($form->get('valor')); ?>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="formgroup">
                        <?php echo $this->formLabel($form->get('status')); ?>
                        <?php echo $this->formElement($form->get('status')); ?>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="formgroup" style="margin-bottom: 20px;margin-top: 20px;">
                        <?php echo $this->formElement($form->get('submit')); ?>
                    </div>
                </div>
            </div>
            <?php $this->form()->closeTag(); ?>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered" id="listDataTable" >
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th style="width: 20%;">Nome do cliente </th>
                            <th style="width: 20%;">vendedor </th>
                            <th style="width: 12%;">Fone</th>
                            <th >Valor Total</th>
                            <th style="width: 8%;">D.Cad.</th>
                            <th >Status</th>
                            <th style="width: 15;">Ações</th>
                        </tr>
                        </thead>
                        <tbody>


                        <?php foreach($this->pedidos as $infoPedido) : ?>
                            <tr>
                                <td><?php echo $infoPedido->getId();?></td>
                                <td><?php echo $infoPedido->getCliente()->getNome();?></td>
                                <td><?php echo (!is_null($infoPedido->getUsuario()))? $infoPedido->getUsuario()->getNome() : "";?></td>
                                <td><?php echo $infoPedido->getCliente()->getTelefoneFixo();?></td>
                                <td><?php echo "R$ " .number_format( $infoPedido->getValorTotal(), 2, ',', '.');;?></td>
                                <td><?php echo is_null( $infoPedido->getDataCadastro() ) ? "" : $infoPedido->getDataCadastro()->format("d/m/Y") ;?></td>
                                <td><?php echo $infoPedido->getStatus();?></td>
                                <td>

                                    <!-- Single button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Ações <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="<?php echo $this->url('pedido.show', ['pedido' => $infoPedido->getId()]); ?>">Detalhes</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="<?php echo $this->url('devolucao.definir_itens', ['pedido' => $infoPedido->getId()]); ?>">Devolução de Itens</a></li>
                                            <li><a href="<?php echo $this->url('pedido.edit_itens', ['pedido' => $infoPedido->getId()]); ?>">Editar Pedido</a></li>
                                            <li><a href="<?php echo $this->url('parcela.define_plots', ['pedido' => $infoPedido->getId()]); ?>">Editar Parcela</a></li>
                                            <li><a href="<?php echo $this->url('parcela.pay_order_plots', ['pedido' => $infoPedido->getId()]); ?>">Quitar Parcelas</a></li>
                                            <li><a href="<?php echo $this->url('pedido.entrega', ['pedido' => $infoPedido->getId()]); ?>">Registrar Entrega</a></li>

                                        </ul>
                                    </div>
                                </td>

                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>



        </div>

        <div class="panel-footer">
            <a href="#" id="voltar" class="btn btn-default">Voltar</a>
        </div>
    </div>
</div>

<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.fixedHeader.js"></script>
<script src="/js/dataTables.tableTools.js"></script>
<script src="/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>

<!-- this page specific inline scripts -->
<script>
    $(document).ready(function() {

        var tableFixed = $('#listDataTable').dataTable({
            'info': false,
            'pageLength': 10,
            "aLengthMenu": [[5, 10, 25, 50, 100, 250, 500, -1], [5, 10, 25, 50, 100, 250, 500, "All"]],
            "order": [[ 0, "desc" ]],
            "oLanguage": {
                "sSearch": "Filtro: ",
                "sLengthMenu": "Total de registros por pagina: _MENU_ "
            }
        });

        //new $.fn.dataTable.FixedHeader( tableFixed );

        $("#valor").maskMoney({showSymbol:true, symbol:"R$ ", decimal:",", thousands:"."});
        $('.data').mask("99/99/9999");
        $('.data').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            orientation: "top right"
        });
    });
</script>