
<style>
    h4:not(.modal-title){
        border-bottom: 2px solid #b0bec5;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 1.4em;
    }
    .radioOptions label{
        margin-right: 40%;
    }

    .itensPedidos{
        text-transform: uppercase;
        font-size: 0.875em;
    }
    .itensPedidos td {
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Atualização de pedido - Registrar entrega
            </div>
            <form method="POST" action="<?php echo $this->url('pedido.entrega', ['pedido' => $this->infoPedido->getId()]);?>">
                <div class="panel-body">

                    <?php if($this->flashMessages): ?>
                        <div class="row">
                            <div class=" col-xs-12 alert alert-info">
                                <ul>
                                    <?php foreach ($this->flashMessages as $msg): ?>
                                        <?php echo $msg; ?>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        </div>
                    <?php endif; ?>


                    <div class="row">

                        <h4>Definições Gerais</h4>
                        <div class="col-md-12">
                            <p class="label-cliente-fornecedor" >Cliente: <span style="font-weight: bold"><?php echo $this->infoPedido->getCliente()->getNome(); ?></span></p>
                        </div>
                        <div class="col-md-4">
                            <label>Valor Total:</label>
                            R$ <?php echo number_format($this->infoPedido->getValorTotal(), 2, ',', '.');?>
                        </div>
                        <div class="col-md-4">
                            <label>Desconto:</label>
                            R$ <?php echo number_format($this->infoPedido->getDesconto(), 2, ',', '.');?>
                        </div>
                        <div class="col-md-4">
                            <label>Data de Entrega:</label>
                            <?php echo !is_null($this->infoPedido
                                ->getDataEntrega())?$this->infoPedido->getDataEntrega()->format("d/m/Y"):""; ?>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <a href="<?php echo $this->url('pedido.entrega', ['pedido' => $this->infoPedido->getId()]);?>"
                                class="btn btn-success" >
                                Registrar Entrega
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="<?php echo $this->url('pedido.cancelar', ['pedido' => $this->infoPedido->getId()]);?>"
                                class="btn btn-danger" id="solicitaCancelamento">
                                Cancelar Pedido
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="<?php echo $this->url('parcela.pay_order_plots', ['pedido' => $this->infoPedido->getId()]);?>"
                               class="btn btn-primary">
                                Quitar Parcelas
                            </a>
                        </div>
                    </div>


                    <div class="row">
                        <h4>Itens do Pedido</h4>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Nome do Produto</th>
                                    <th style="width: 15%;">Quant.</th>
                                    <th style="width: 15%;">Valor Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach($this->itensPedido as $itemPedido): ?>
                                    <tr>
                                        <td><?php echo $itemPedido->getProduto()->getNome();?></td>
                                        <td><?php echo $itemPedido->getQuantidade();?></td>
                                        <td>R$ <?php echo number_format($itemPedido->getValor(), 2, ',', '.');?></td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <h4>Parcelas do Pedido</h4>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Forma de Pagamento</th>
                                    <th style="width: 15%;">Vencimento</th>
                                    <th style="width: 15%;">Situação</th>
                                    <th style="width: 15%;">Valor</th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach($this->infoParcelas as $itemParcela):
                                    ?>
                                    <tr>
                                        <td><?php echo $itemParcela->getMovFinanceiro()->getFormaPgto()->getDescricao();?></td>
                                        <td><?php echo $itemParcela->getMovFinanceiro()->getDataVencimento()->format('d/m/Y');?></td>
                                        <td><?php echo $itemParcela->getMovFinanceiro()->getStatus() == "A" ? "Em Aberto" : "Quitada";?></td>
                                        <td>R$ <?php echo number_format($itemParcela->getMovFinanceiro()->getValor(), 2, ',', '.');?></td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>




                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <a href="#" id="voltar" class="btn btn-default">Voltar</a>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Confirmação de cancelamento</h4>
            </div>
            <div class="modal-body">
                <p>
                    Tem certeza que gostaria de cancelar o pedido com o código: <strong><?php echo $this->infoPedido->getId();?></strong> do(a) cliente: <br/>
                    <strong><?php echo $this->infoPedido->getCliente()->getNome();?></strong> ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="cancelarPedido">Sim</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#exampleModal').modal({
            keyboard: false,
            show: false
        });
        $("#solicitaCancelamento").click(function(){
            $('#exampleModal').modal('show');
            return false;
        });

        $("#cancelarPedido").click(function(){
            $('#exampleModal').modal('hide');
            window.location = $("#solicitaCancelamento").attr('href');
        });
    });
</script>