<?php
$this->headLink()
    ->prependStylesheet('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    ->prependStylesheet('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

$this->inlineScript()
    ->prependFile('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    ->prependFile('https://code.jquery.com/jquery-2.1.4.min.js');
?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <?php echo $this->headTitle('zend-expressive')->setSeparator(' - ')->setAutoEscape(false) ?>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <?php echo $this->headMeta(); ?>
    <?php echo $this->headLink(); ?>
    <style>
        body { padding-top: 60px; }
        .app { display: flex; min-height: 100vh; flex-direction: column; }
        .app-content { flex: 1; }
        .app-footer { padding-bottom: 1em; }
        .zf-green, h2 a { color: #68b604; }
    </style>
</head>
<body class="app">

    <?php if($this->url() != "/usuario/login"): ?>
    <header class="app-header">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('home') ?>">
                        <img src="/zf-logo.png" alt="Zend Expressive" />
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="https://zendframework.github.io/zend-expressive/" target="_blank">
                                <i class="fa fa-book"></i> Docs
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/zendframework/zend-expressive" target="_blank">
                                <i class="fa fa-wrench"></i> Contribute
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo $this->url('api.ping') ?>">
                                Ping Test
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo $this->url('usuario.logout') ?>">
                                Sair
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <?php endif; ?>

    <div class="app-content">
        <main class="container">
            <?php echo $this->content ?>
        </main>
    </div>

    <footer class="app-footer">
        <div class="container">
            <hr />
            <p>
                &copy; 2005 - <?php echo date('Y') ?> by Zend Technologies Ltd. All rights reserved.
            </p>
        </div>
    </footer>

    <?php echo $this->inlineScript(); ?>
</body>
</html>
