<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" />
        <title>E-mail</title>
        <style>
            <?php //echo file_get_contents('./public/css/bootstrap/bootstrap.css'); ?>
            body{
                font-family: 'Open Sans', sans-serif;
                -webkit-font-smoothing: antialiased;
            }
            .table {
                border-collapse: collapse !important;
            }
            .table td,
            .table th {
                background-color: #fff !important;
            }

            .table-bordered th,
            .table-bordered td {
                border: 1px solid #ddd !important;
            }
            .col-md-12{
                position: relative;
                min-height: 1px;
                padding-left: 15px;
                padding-right: 15px;
            }

            @media (min-width: 992px) {
                .col-md-12 {
                    float: left;
                    width: 100%;
                }
            }
            th {
                text-align: left;
            }

            .table {
                width: 94%;
                max-width: 100%;
                margin-bottom: 20px;
                margin-left: 10px;
            }
            .table > thead > tr > th,
            .table > thead > tr > td,
            .table > tbody > tr > th,
            .table > tbody > tr > td,
            .table > tfoot > tr > th,
            .table > tfoot > tr > td {
                padding: 8px;
                line-height: 1.428571429;
                vertical-align: top;
                border-top: 1px solid #ddd;
            }
            .table > thead > tr > th {
                vertical-align: bottom;
                border-bottom: 2px solid #ddd;
            }
            h1, h2, h3, h4, h5, h6,
            .h1, .h2, .h3, .h4, .h5, .h6 {
                font-family: inherit;
                font-weight: 500;
                line-height: 1.1;
                color: inherit;
                width: 94%
            }
            .row {
                margin-left: -15px;
                margin-right: -15px;
            }
            .row:before, .row:after {
                content: " ";
                display: table;
            }
            .row:after {
                clear: both;
            }
            h4:not(.modal-title){
                border-bottom: 2px solid #b0bec5;
                padding-left: 0px;
                margin-bottom: 10px;
                margin-left: 25px;
                margin-right: 10px;
                margin-top: 15px;
                font-size:20px;
            }
            .radioOptions label{
                margin-right: 40%;
            }

            .itensPedidos{
                text-transform: uppercase;
                font-size: 0.875em;
            }
            .itensPedidos td {
                font-weight: bold;
            }
            .panel-heading > .dropdown .dropdown-toggle {
                color: inherit;
            }

            .panel-title {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 16px;
                color: inherit;
            }
            .panel-title > a {
                color: inherit;
            }

            .panel-footer {
                padding: 10px 15px;
                background-color: #f5f5f5;
                border-top: 1px solid #ddd;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
            }
            <?php echo file_get_contents('./public/css/style.css'); ?>
        </style>
    </head>
    <body style="width: 21cm;min-height: 10cm;" >
            <?php echo $this->content; ?>
    </body>
</html>

