<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Juliana Jóias</title>

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet" />

    <!-- RTL support - for demo only -->
    <script src="/js/demo-rtl.js"></script>
    <!--
    If you need RTL support just include here RTL CSS file <link rel="stylesheet" type="text/css" href="css/libs/bootstrap-rtl.min.css" />
    And add "rtl" class to <body> element - e.g. <body class="rtl">
    -->

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="/css/libs/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/css/libs/nanoscroller.css" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="/css/compiled/theme_styles.css" />

    <!-- this page specific styles -->

    <!-- google font libraries -->

    <!-- Favicon -->
    <link type="image/x-icon" href="/favicon.png" rel="shortcut icon"/>

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="login-page-full">
<div id="login-full-wrapper">
    <div class="container">
        <?php echo $this->content; ?>
    </div>
</div>

<!-- global scripts -->
<script src="/js/demo-skin-changer.js"></script> <!-- only for demo -->

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/jquery.nanoscroller.min.js"></script>

<script src="/js/demo.js"></script> <!-- only for demo -->

<!-- this page specific scripts -->


<!-- theme scripts -->
<script src="/js/scripts.js"></script>

<!-- this page specific inline scripts -->

</body>
</html>