<table style="width: 100%;">
    <tbody>
    <tr>
        <td>
            <p style="text-align: justify;line-height: 30px;">
                Olá fornedor(a), <strong><?php echo $this->infoRemessa->getFornecedor()->getNomeFantasia(); ?></strong><br/>
                Você negociou o acerto de uma remessa de produtos para venda em consignação na <strong>Semi Joias LTDA</strong>,
                o acerto foi realizado na data: <strong><?php echo !is_null($this->infoRemessa
                    ->getDataDevolucao())?$this->infoRemessa->getDataDevolucao()->format("d/m/Y"):""; ?></strong>,
                a quantidade de produtos não vendidos serão devolvidos sem custos, e as quantidade dos produtos da remessa que foram vendidos, serão quitadas
                conforme preço de custo negociados e definidos no momento do cadastro da remessa em estoque.<br/>
                Abaixo segue o detalhamento sobre os itens a serem devolvidos e o pagamento dos itens vendidos:
            </p>
        </td>
    </tr>
    </tbody>
</table>

<table style="width: 100%;">
    <thead>
    <tr>
        <th>
            <div style="border-bottom: solid 1px #ddd; width: 100%;height: 35px;background-color: #f4f4f4;line-height:35px;font-size: 18px; border-top-left-radius: 5px; border-top-right-radius: 10px;">
                <div style="margin-left: 10px;">Detalhamentos do acerto de remessa com o código: <?php echo $this->infoRemessa->getId(); ?></div>
            </div>
        </th>
    </tr>
    </thead>
</table>


<div class="row">

    <table class="table" style=" margin-left: 25px;margin-top: 20px;">
        <thead>
        <tr>
            <th style="border-top: none;padding-left: 0px;line-height: 10px;font-size: 20px;font-weight: 100;">
                Definições Gerais
            </th>
        </tr>
        </thead>

    </table>
    <div class="col-md-12">
        <p style="font-size: 17px;margin-left: 10px;">
            Fornecedor:
            <strong><?php echo $this->infoRemessa->getFornecedor()->getNomeFantasia(); ?></strong>
        </p>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Valor T. Remessa</th>
                <th>Valor T. Devolver</th>
                <th>Data de Cadastro</th>
                <th>Data de Devolucao</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    R$ <?php echo number_format($this->infoRemessa->getValorTotal(), 2, ',', '.');?>
                </td>
                <td>
                    R$ <?php echo number_format($this->totalVendido, 2, ',', '.');?>
                </td>
                <td>
                    <?php echo !is_null($this->infoRemessa
                        ->getDataCadastro())?$this->infoRemessa->getDataCadastro()->format("d/m/Y"):""; ?>
                </td>
                <td>
                    <?php echo !is_null($this->infoRemessa
                        ->getDataDevolucao())?$this->infoRemessa->getDataDevolucao()->format("d/m/Y"):""; ?>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table" style=" margin-left: 25px;">
            <thead>
            <tr>
                <th style="border-top: none;padding-left: 0px;line-height: 10px;font-size: 20px;font-weight: 100;">
                    Informações de devolução da remessa
                </th>
            </tr>
            </thead>

        </table>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 50%;">Nome do Produto</th>
                <th>V. Unit. Custo</th>
                <th>Quant. Total</th>
                <th>Quant. Vendida</th>
                <th>Quant. Dev.</th>

                <th>Valor Acertar</th>
            </tr>
            </thead>
            <tbody>
            <?php $valorTotalAcerta = 0;
            foreach ($this->produtosRemessa as $itemRemessa): ?>
                <tr>
                    <td><?php echo $itemRemessa->getProduto()->getNome();?></td>
                    <td><?php echo number_format($itemRemessa->getPrecoCusto(), 2, ',', '.'); ?></td>
                    <td><?php echo $itemRemessa->getQuantidade(); ?></td>
                    <td><?php echo ($itemRemessa->getQuantidade() - $itemRemessa->getQuantParcial()); ?></td>
                    <td><?php echo $itemRemessa->getQuantParcial(); ?></td>
                    <?php $totalAcertarItem = ($itemRemessa->getQuantidade() -
                            $itemRemessa->getQuantParcial()) * $itemRemessa->getPrecoCusto();
                    $valorTotalAcerta += $totalAcertarItem;
                    ?>
                    <td><?php echo  number_format($totalAcertarItem, 2, ',', '.')?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
            <tfoot>
            <tr>
                <td style="font-weight: bold;" >
                    Status Atual: <?php echo $this->infoRemessa->getStatus(); ?>
                </td>
                <td colspan="4" style="font-weight: bold;text-align: right;" >Valor Total Acertar:

                </td>
                <td>
                    <span id="preco-cliente-total" style="background-color: #eee;padding: 2px;">
                        R$ <?php echo  number_format($valorTotalAcerta, 2, ',', '.')?>
                    </span>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table" style=" margin-left: 25px;">
            <thead>
            <tr>
                <th style="border-top: none;padding-left: 0px;line-height: 10px;font-size: 20px;font-weight: 100;">
                    Parcelas de acerto da remessa
                </th>
            </tr>
            </thead>

        </table>
    </div>
</div>
<div class="row">


    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Forma de Pagamento</th>
                <th style="width: 15%;">Valor</th>
                <th style="width: 15%;">Vencimento</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($this->infoParcelas as $itemParcela):
                ?>
                <tr>
                    <td><?php echo $itemParcela->getMovFinanceiro()->getFormaPgto()->getDescricao();?></td>
                    <td>R$ <?php echo number_format($itemParcela->getMovFinanceiro()->getValor(), 2, ',', '.');?></td>
                    <td><?php echo $itemParcela->getMovFinanceiro()->getDataVencimento()->format('d/m/Y');?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>

<table style="width: 100%;">
    <tfoot>
    <tr>
        <th>
            <div style="border-bottom: solid 1px #ddd; width: 100%;height: 35px;background-color: #f4f4f4;
line-height:25px;font-size: 12px;border-bottom-left-radius: 9px; border-bottom-right-radius: 9px;
margin-bottom: -1px;">
                <div style="margin-left: 10px;">&copy; <?php echo date('Y');?> Semi Jóias LTDA</div>
            </div>
        </th>
    </tr>
    </tfoot>
</table>
